.pos_rel {
  position: relative;
}
.back_button {
  margin-bottom: 2rem;
  display: block;
  opacity: 0.5;
}
.auth_wrap {
  padding-top: 17.5rem; 
  overflow: hidden;
  .div_img {
    position: absolute;
    left: 43rem;
    top: 2.9rem;
    height: 44.8rem;
    width: 67.2rem;
    background: url('../img/auth_img1.png') center center;
    background-size: cover;
  }
  .dt {
    margin-bottom: 2rem;
    input {
      height: 4.6rem;
      width: 100%;
      font-size: 1.3rem;
    }
    .name_block {
      line-height: 185%;
      margin-bottom: 0.1rem;
    }
    .div_forget {
      color: #41AE7C;
    }
  }
  .checkbox_remember {
    margin-bottom: 3rem;
    cursor: pointer;
  }
  .div_btn button {
    width: 100%;
  }
  .auth_inner_block {
    padding-bottom: 2rem;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 2rem;
  }
}
.incorrect_txt {
  padding-top: 0.4rem;
  color: #DD1717;
  display: none;
}
.auth_el {
  position: relative;
  &.incorrect {
    input {
      border: 2px solid #DD1717;
    }
    + .incorrect_txt {
      display: block;
    }
  }
  .btn_show_pass {
    position: absolute;
    right: 2rem;
    bottom: 1.4rem;
  }
  input {
    padding-left: 1.9rem;
  }
}
.div_tit {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}
.name_block {
  display: flex;
  justify-content: space-between;
}
.auth_block {
  padding: 4rem 4.5rem;
  width: 46.2rem;
  .div_name {
    font-weight: bold;
  }
  .sudir_auth_button {
    color: #41AE7C;
    font-size: 1.2rem;
  }
  .div_txt {
    margin-bottom: 2rem;
  }
}
.recov_block {
  .dt {
    margin-bottom: 3rem;
  }
}
