.pos_rel {
  position: relative;
}

.back_button {
  margin-bottom: 2rem;
  display: block;
  opacity: 0.5;
}

.auth_wrap {
  padding-top: 17.5rem;
  overflow: hidden;
}

.auth_wrap .div_img {
  position: absolute;
  left: 43rem;
  top: 2.9rem;
  height: 44.8rem;
  width: 67.2rem;
  background: url("../img/auth_img1.png") center center;
  background-size: cover;
}

.auth_wrap .dt {
  margin-bottom: 2rem;
}

.auth_wrap .dt input {
  height: 4.6rem;
  width: 100%;
  font-size: 1.3rem;
}

.auth_wrap .dt .name_block {
  line-height: 185%;
  margin-bottom: 0.1rem;
}

.auth_wrap .dt .div_forget {
  color: #41AE7C;
}

.auth_wrap .checkbox_remember {
  margin-bottom: 3rem;
  cursor: pointer;
}

.auth_wrap .div_btn button {
  width: 100%;
}

.auth_wrap .auth_inner_block {
  padding-bottom: 2rem;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 2rem;
}

.incorrect_txt {
  padding-top: 0.4rem;
  color: #DD1717;
  display: none;
}

.auth_el {
  position: relative;
}

.auth_el.incorrect input {
  border: 2px solid #DD1717;
}

.auth_el.incorrect + .incorrect_txt {
  display: block;
}

.auth_el .btn_show_pass {
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
}

.auth_el input {
  padding-left: 1.9rem;
}

.div_tit {
  font-weight: bold;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.name_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.auth_block {
  padding: 4rem 4.5rem;
  width: 46.2rem;
}

.auth_block .div_name {
  font-weight: bold;
}

.auth_block .sudir_auth_button {
  color: #41AE7C;
  font-size: 1.2rem;
}

.auth_block .div_txt {
  margin-bottom: 2rem;
}

.recov_block .dt {
  margin-bottom: 3rem;
}
/*# sourceMappingURL=auth.css.map */