html {
  font-size: 10px;
}

@media (max-width: 991px) {
  html {
    font-size: 10px;
  }
}

body {
  padding: 0px;
  color: #000000;
  font-family: TTFirs,Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  position: relative;
  font-size: 1.3rem;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1138px;
  margin: 0 auto;
  position: relative;
}

.el_ico {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.el_ico span {
  padding-left: .7rem;
  font-weight: bold;
}

.el_ico.div_ico2 span {
  padding-left: 0;
  padding-right: .7rem;
}

.color_wh,
a.div_pl.color_wh:hover,
a.div_pl.color_wh:focus,
.color_wh,
a.color_wh:hover,
a.color_wh:focus {
  color: #fff;
}

.color_or {
  color: #EF7743;
}

.color_green {
  color: #41AE7C;
}

.color_red {
  color: #DD1717;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #383B4A;
  text-decoration: none;
}

a:focus, a:active {
  color: rgba(56, 59, 74, 0.7);
}

a.nav-link {
  color: #000000;
  opacity: 1;
}

h1,
.h1fs {
  font-weight: 500;
  font-size: 3.4rem;
  line-height: 110%;
  margin-bottom: 2rem;
}

.h1fs1 {
  font-weight: 500;
  font-size: 3.2rem;
  line-height: 120%;
  margin-bottom: 2rem;
}

h2,
.h2fs {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 110%;
  margin-bottom: 4rem;
}

h3,
.h3fs {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 120%;
  margin-bottom: 2rem;
}

h4,
.h4fs {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 120%;
  margin-bottom: 2rem;
}

h4.h4_required:after,
.h4fs.h4_required:after {
  content: '*';
}

h5,
.h5fs {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2.2rem;
  margin-bottom: 2rem;
}

.op05 {
  opacity: 0.5;
}

.fwb {
  font-weight: bold;
}

p,
.pmb {
  margin-bottom: 2.4rem;
}

p:last-child,
.pmb:last-child {
  margin-bottom: 0;
}

.w100p {
  width: 100%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background: #fff;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.2rem;
  margin-right: .8rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%;
}

.custom-checkbox:checked + label::before {
  border-color: #41AE7C;
  background-color: #41AE7C;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.row_new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 991px) {
  h1, .h1fs,
  h2, .h2fs {
    font-size: 20px;
    line-height: 110%;
  }
}

@media (max-width: 767px) {
  h1, .h1fs,
  h2, .h2fs {
    font-size: 16px;
  }
  h3, .h3fs {
    font-size: 18px;
    line-height: 112%;
  }
  h4, .h4fs {
    font-size: 16px;
    line-height: 112%;
  }
  .plus_left:before {
    width: 20px;
    height: 20px;
  }
  .plus_left.plus_left2:before {
    margin-left: -20px;
  }
}

.num_el {
  font-family: Octosuqare;
}

.btn {
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  min-height: 4.6rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.2rem;
  font-weight: 500;
  display: inline-block;
  padding: 1.1rem 2.1rem;
  font-size: 1.3rem;
  line-height: 185%;
  -webkit-transition: all 0.2s ease-in-out, font-size 0s;
  transition: all 0.2s ease-in-out, font-size 0s;
  cursor: pointer;
}

.btn-opacity {
  background: none;
  border: 1px solid #41AE7C;
  color: #41AE7C;
  padding: 1.1rem 1.9rem;
  white-space: nowrap;
}

.btn-green {
  background: #41AE7C;
  color: #fff;
  padding: 1.1rem 3.2rem;
}

.btn-green:hover {
  color: #ccc;
}

.btn-green.btn-green2 {
  border: 1px solid #41AE7C;
  background: none;
  color: #41ae7c;
}
/*# sourceMappingURL=base.css.map */