.block_wrap {
  position: relative;
}

.block_wrap .h2_mb10 {
  margin-bottom: 10rem;
}

.block_wrap .h2_mb16 {
  margin-bottom: 1.6rem;
}

.block_wrap .h2_text {
  margin-bottom: 2rem;
}

.block_wrap .div_text_top {
  margin-bottom: 4rem;
}

.block_wrap .btn_bottom {
  padding-top: 2rem;
  text-align: center;
}

.block_wrap_m {
  margin-bottom: 11rem;
}

.block_wrap_m1 {
  margin-bottom: 9rem;
}

.block_wrap_p {
  padding: 6rem 0 4rem;
}

.block_wrap_p1 {
  padding: 11rem 0 9rem 0;
}

.block_wrap_p2 {
  padding: 11rem 0 4.6rem 0;
}

.block_wrap_p3 {
  padding: 8rem 0 1.2rem 0;
}

.h2_border {
  padding-bottom: 2.1rem;
  border-bottom: 2px solid #41AE7C;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}

.h2_more {
  position: relative;
}

.h2_more .pos_rel {
  position: absolute;
  right: 0;
  font-size: 1.3rem;
  color: #41AE7C;
}

.head_h2_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head_h2_right h2 {
  margin-bottom: 0;
}

.head_h2_right .div_right.fl-none {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.site_content_top {
  padding: 11.6rem 0 4.4rem;
  background: url(../img/header_fon.jpg) no-repeat top right;
  background-size: 100% auto;
}

.site_content_top.site_content_top_pt1 {
  padding-top: 7rem;
}

@media (max-width: 991px) {
  .site_content_top {
    background-size: cover;
  }
}

.lg_first {
  padding-left: 0;
  padding-right: 0;
}

.lg_last {
  padding-right: 0;
}

.header_search_result .row {
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.header_search_result .hsr_tit {
  opacity: 0.5;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.header_search_result .div_nav {
  padding-bottom: 1rem;
  border-bottom: 2px solid #41AE7C;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.header_search_result .dt_text {
  text-align: right;
}

.header_search_result .div_nav .lg_first .custom-checkbox + label::before {
  margin-right: 2rem;
}

.header_search_result .span_nav {
  color: #41AE7C;
  font-size: 1.3rem;
  line-height: 120%;
  font-weight: 500;
  vertical-align: top;
}

.header_search_result .dt_left {
  padding-right: 3.5rem;
}

.header_search_result .div_el {
  border-bottom: 1px solid #ccc;
  padding: 1.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header_search_result .div_el .pos_rel {
  opacity: 0;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26.3rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header_search_result .div_el .pos_rel .btn {
  height: 4.6rem;
}

.header_search_result .div_el .pos_rel:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.header_search_result .div_el .dt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_search_result .div_el .dt1 .label_main {
  margin-bottom: 0;
}

.header_search_result .div_el .dt1 .div_ico {
  width: 3.6rem;
  height: 3.6rem;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  border: 1px solid rgba(56, 59, 74, 0.2);
  border-radius: 25rem;
  background-size: contain;
}

.header_search_result .div_el .dt2 {
  padding-top: 0.3rem;
}

.header_search_result .div_el .dt2 .div_name {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.header_search_result .div_el .dt2 .div_info {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}

.header_search_result .div_el .dt2 .div_subinfo {
  font-size: 1.4rem;
  margin-bottom: .8rem;
}

.header_search_result .div_el .dt2 .div_subinfo:last-child {
  margin-bottom: 0.3rem;
}

.header_search_result .div_el .dt2 .color_green {
  color: #41AE7C;
}

.header_search_result .div_el .span_nav_text {
  opacity: 0.5;
  font-size: 1.3rem;
  line-height: 120%;
}

.header_search_result .dt_right {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.header_search_result .dt_right .div_tit {
  font-weight: bold;
  margin-bottom: .6rem;
}

.header_search_result .dt_right .div_subtit {
  margin-bottom: 1.6rem;
  opacity: .5;
}

.header_search_result .dt_right .label_ct {
  display: -ms-grid;
  display: grid;
  margin-bottom: 2.8rem;
}

.header_search_result .dt_right .label_ct .custom-checkbox + label::before {
  margin-right: 0.6rem;
}

.header_search_result .dt_right .btn {
  width: 100%;
}

@media (max-width: 767px) {
  .header_search_result .div_el .dt1 {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  .header_search_result .div_el .dt_text {
    text-align: left;
  }
}

@media (max-width: 991px) {
  .block_wrap h2 {
    margin-bottom: 3rem;
  }
  .block_wrap .h2_text {
    margin-bottom: 1.2rem;
  }
  .block_wrap .div_text_top {
    margin-bottom: 3rem;
  }
  .block_wrap_m {
    margin-bottom: 6rem;
  }
  .block_wrap_m1 {
    margin-bottom: 4rem;
  }
  .block_wrap_p {
    padding: 6rem 0;
  }
  .block_wrap_p1 {
    padding: 6rem 0 5rem 0;
  }
  .block_wrap_p2 {
    padding: 6rem 0 4.6rem 0;
  }
}

@media (max-width: 767px) {
  .block_wrap_m {
    margin-bottom: 7rem;
  }
  .block_wrap_m1 {
    margin-bottom: 5rem;
  }
  .block_wrap_p {
    padding: 6rem 0;
  }
  .block_wrap_p1 {
    padding: 6rem 0 4rem 0;
  }
  .block_wrap_p2 {
    padding: 6rem 0 1rem 0;
  }
  .block_wrap .h2_mb16 {
    margin-bottom: .8rem;
  }
  .block_wrap .div_text_top {
    margin-bottom: 2rem;
  }
}

.select_ct {
  position: relative;
}

.select_ct:after {
  content: '';
  position: absolute;
  height: 1.8rem;
  width: 1.8rem;
  background: url("../img/select_arrow.png") no-repeat center center;
  top: 0.8rem;
  right: 1.4rem;
  pointer-events: none;
}

.select_ct .select_control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select_control {
  padding: 0 1rem 0 1.9rem;
  line-height: 24px;
  font-size: 1.3rem;
  font-weight: 500;
  height: 3.6rem;
  margin-right: 2rem;
}

.select_control.w100p {
  min-width: 100%;
}

.select_control.mw26r {
  min-width: 26rem;
}

.select_control.mw36r {
  min-width: 34rem;
}

.search_ct {
  position: relative;
  height: 100%;
}

.search_ct .btn-search {
  position: absolute;
  left: 1.6rem;
  top: 0;
  cursor: pointer;
  height: 100%;
  width: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search_ct .btn_clear {
  position: absolute;
  right: 0.8rem;
  top: .8rem;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

.search_ct input {
  padding-left: 5rem;
  height: 100%;
  font-size: 1.3rem;
}

.modal_ct {
  margin-bottom: 2rem;
}

.modal_ct textarea {
  min-height: 11.1rem;
  padding: 1.1rem 1.9rem;
  font-size: 13px;
  line-height: 120%;
  font-weight: 400;
  resize: none;
  width: 100%;
}

.input_file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F8;
  border: 1px dashed rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 4.1rem 3rem 3rem 3rem;
  margin-bottom: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.input_file .div_img {
  margin-bottom: .5rem;
}

.input_file .div_text {
  margin-bottom: 1rem;
  color: #808080;
}

.input_file:hover {
  background: rgba(65, 174, 124, 0.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.el_tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.el_tag span {
  padding: 0.5rem 1.1rem;
  border-radius: 21px;
  line-height: 120%;
}

.el_tag.production span {
  color: #4470E0;
  background: rgba(68, 112, 224, 0.1);
}

.el_tag.service span {
  color: #E49A2A;
  background: rgba(228, 154, 42, 0.1);
}

.el_tag.accept span {
  color: #41AE7C;
  background: rgba(65, 174, 124, 0.1);
}

.el_tag.complete span {
  color: #6646B9;
  background: rgba(102, 70, 185, 0.1);
}

.el_tag.warning span {
  color: #DD1717;
  background: rgba(221, 23, 23, 0.1);
}

.block_no_data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6rem 0;
}

.block_no_data .img_no_data {
  margin-bottom: 3rem;
}

.block_no_data .text_no_data {
  margin-bottom: 4.3rem;
  opacity: 0.5;
  text-align: center;
}

.loader_all {
  margin: 0 auto;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.7);
}

.block_collapse .a_collapse {
  color: #41AE7C;
}

.block_collapse .a_collapse img {
  margin-left: 1rem;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block_collapse .a_collapse.collapsed img {
  margin-left: 1rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.tag_oval {
  padding: .7rem 1.1rem;
  border-radius: 2.4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
}

a.color_gr {
  color: #41AE7C;
}

.und_line_green {
  text-decoration: underline;
  -webkit-text-decoration-color: #41AE7C;
  text-decoration-color: #41AE7C;
}

.input_datapicker {
  border: 0;
  background-color: unset;
  width: 28rem;
  border: 1px solid #0000001e;
  border-radius: 0.3rem;
  padding: .6rem 1.4rem;
  font-size: 1.3rem;
  background-size: 1.8rem 1.8rem;
  background-position-y: center;
  background-position-x: calc(100% - 1.4rem);
  height: 3.6rem;
}
/*# sourceMappingURL=block.css.map */