.block_wrap {
  position: relative;
  .h2_mb10 {
    margin-bottom: 10rem;
  }
  .h2_mb16 {
    margin-bottom: 1.6rem;
  }
  .h2_text {
    margin-bottom: 2rem;
  }
  .div_text_top {
    margin-bottom: 4rem;
  }
  .btn_bottom {
    padding-top: 2rem;
    text-align: center;
  }
}

.block_wrap_m {
  margin-bottom: 11rem;
}
.block_wrap_m1 {
  margin-bottom: 9rem;
}
.block_wrap_p {
  padding: 6rem 0 4rem;
}
.block_wrap_p1 {
  padding: 11rem 0 9rem 0;
}

.block_wrap_p2 {
  padding: 11rem 0 4.6rem 0;
}

.block_wrap_p3 {
  padding: 8rem 0 1.2rem 0;
}

.h2_border {
  padding-bottom: 2.1rem;
  border-bottom: 2px solid #41AE7C;
  font-size: 2.8rem;
  margin-bottom: 3rem;
}
.h2_more {
  position: relative;
  .pos_rel {
    position: absolute;
    right: 0;
    font-size: 1.3rem;
    color: #41AE7C;
  }
}

.head_h2_right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2{
    margin-bottom: 0;
  }
  .div_right{
    &.fl-none{
      flex: none;
    }
  }
}

.site_content_top {
  padding: 11.6rem 0 4.4rem;
  background: url(../img/header_fon.jpg) no-repeat top right;
  background-size: 100% auto;
  &.site_content_top_pt1 {
    padding-top: 7rem;
  }
}
@media(max-width:991px) {
  .site_content_top {
    background-size: cover;
  }
}
.lg_first {
  padding-left: 0;
  padding-right: 0;
}
.lg_last {
  padding-right: 0;
}
.header_search_result {
  .row {
    flex-wrap: wrap-reverse;
  }
  .hsr_tit {
    opacity: 0.5;
    font-size: 1.3rem;
    margin-bottom: 4rem;
  }
  .div_nav {
    padding-bottom: 1rem;
    border-bottom: 2px solid #41AE7C;
    width: 100%;
    display: inline-flex;
  }
  .dt_text {
    text-align: right;
  }
  .div_nav {
    .lg_first {
      .custom-checkbox + label::before {
        margin-right: 2rem;
      }
    }
  }
  .span_nav {
    color: #41AE7C;
    font-size: 1.3rem;
    line-height: 120%;
    font-weight: 500;
    vertical-align: top;
  }
  .dt_left {
    padding-right: 3.5rem;
  }
  // .el_ct {

  // }
  .div_el {
    border-bottom: 1px solid #ccc;
    padding: 1.4rem 0;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    .pos_rel {
      opacity: 0;
      position: absolute;
      right: 0;
      height: 100%;
      top: 0;
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      width: 26.3rem;
      justify-content: right;
      transition: all 0.2s ease;
      .btn {
        height: 4.6rem;
      }
      &:hover {
        opacity: 1;
        transition: all 0.2s ease;
      }
    }
    .dt1 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .label_main {
        margin-bottom: 0;
      }
      .div_ico {
        width: 3.6rem;
        height: 3.6rem;
        flex: none;
        border: 1px solid rgba(56, 59, 74, 0.2);
        border-radius: 25rem;
        background-size: contain;
      }
    }
    .dt2 {
      padding-top: 0.3rem;
      .div_name {
        margin-bottom: 1rem;
        font-size: 1.6rem;
        font-weight: 500;
      }
      .div_info {
        font-size: 1.2rem;
        margin-bottom: 0.8rem;
      }
      .div_subinfo {
        font-size: 1.4rem;
        margin-bottom: .8rem;
        &:last-child {
          margin-bottom: 0.3rem;
        }
      }
      .color_green {
        color: #41AE7C;
      }
    }
    .span_nav_text {
      opacity: 0.5;
      font-size: 1.3rem;
      line-height: 120%;
    }
  }
  .dt_right {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    .div_tit {
      font-weight: bold;
      margin-bottom: .6rem;
    }
    .div_subtit {
      margin-bottom: 1.6rem;
      opacity: .5;
    }
    .label_ct {
      display: grid;
      margin-bottom: 2.8rem;
      .custom-checkbox + label::before {
        margin-right: 0.6rem;
      }
    }
    .btn {
      width: 100%;
    }
  }
}
@media (max-width: 767px) {
  .header_search_result .div_el .dt1 {
    justify-content: normal;
  }
}
@media (max-width: 991px) {
  @media (max-width: 767px) {
    .header_search_result .div_el .dt_text {
      text-align: left;
    }
  }
  .block_wrap {
    h2 {
      margin-bottom: 3rem;
    }
    .h2_text {
      margin-bottom: 1.2rem;
    }
    .div_text_top {
      margin-bottom: 3rem;
    }
  }

  .block_wrap_m {
    margin-bottom: 6rem;
  }
  .block_wrap_m1 {
    margin-bottom: 4rem;
  }
  .block_wrap_p {
    padding: 6rem 0;
  }
  .block_wrap_p1 {
    padding: 6rem 0 5rem 0;
  }

  .block_wrap_p2 {
    padding: 6rem 0 4.6rem 0;
  }
}
@media (max-width: 767px) {
  .block_wrap_m {
    margin-bottom: 7rem;
  }
  .block_wrap_m1 {
    margin-bottom: 5rem;
  }
  .block_wrap_p {
    padding: 6rem 0;
  }
  .block_wrap_p1 {
    padding: 6rem 0 4rem 0;
  }
  .block_wrap_p2 {
    padding: 6rem 0 1rem 0;
  }
  .block_wrap {
    .h2_mb16 {
      margin-bottom: .8rem;
    }
    .div_text_top {
      margin-bottom: 2rem;
    }
  }

}
.select_ct {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    height: 1.8rem;
    width: 1.8rem;
    background: url('../img/select_arrow.png') no-repeat center center;
    top: 0.8rem;
    right: 1.4rem;
    pointer-events: none;
  }
  .select_control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}
.select_control{
  padding: 0 1rem 0 1.9rem;
  line-height: 24px;
  font-size: 1.3rem;
  font-weight: 500;
  height: 3.6rem;
  margin-right: 2rem;
  &.w100p{
    min-width: 100%;
  }
  &.mw26r{
    min-width: 26rem;
  }
  &.mw36r{
    min-width: 34rem; 
  }
}
.search_ct {
  position: relative;
  height: 100%;
  .btn-search {
    position: absolute;
    left: 1.6rem;
    top: 0;
    cursor: pointer;
    height: 100%;
    width: 2rem;
    display: flex;
    align-items: center;
  }
  .btn_clear{
    position: absolute;
    right: 0.8rem;
    top: .8rem;
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }
  input {
    padding-left: 5rem;
    height: 100%;
    font-size: 1.3rem; 
  }
}

.modal_ct{
    textarea{
      min-height: 11.1rem;
      padding: 1.1rem 1.9rem;
      font-size: 13px;
      line-height: 120%;
      font-weight: 400;
      resize: none;
      width: 100%;
    }
    margin-bottom: 2rem;
}

.input_file{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F8F8F8;
  border: 1px dashed rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  padding: 4.1rem 3rem 3rem 3rem;
  margin-bottom: 2rem;
  transition: all 0.5s ease;
  .div_img{
    margin-bottom: .5rem;
  }
  .div_text{
    margin-bottom: 1rem;
    color: #808080;
  }
  &:hover{
    background: rgba(65, 174, 124, 0.05);
    transition: all 0.5s ease;
  }
}

.el_tag {
  display: flex;
  // height: 100%;
  height: fit-content;
  span {
    padding: 0.5rem 1.1rem;
    border-radius: 21px;
    line-height: 120%;
  }
  &.production {
    span {
      color: #4470E0;
      background: rgba(68, 112, 224, 0.1);
    }
  }
  &.service {
    span {
      color: #E49A2A;
      background: rgba(228, 154, 42, 0.1);
    }
  }
  &.accept{
    span{
      color: #41AE7C;
      background: rgba(65, 174, 124, 0.1);
    }
  }
  &.complete{
    span{
      color: #6646B9;
      background: rgba(102, 70, 185, 0.1);
    }
  }
  &.warning{
    span{
      color: #DD1717;
      background: rgba(221, 23, 23, 0.1);
    }
  }
}

.block_no_data{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 6rem 0;
  .img_no_data{
    margin-bottom: 3rem;
  }
  .text_no_data{
    margin-bottom: 4.3rem;
    opacity: 0.5;
    text-align: center;
    // font-size: 13px;
    // line-height: 120%;
  }
}

.loader_all{
  margin: 0 auto; 
  top: 0; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  background: rgba(255, 255, 255, 0.7);
}

.block_collapse{
  .a_collapse{
    color: #41AE7C;
    img{
      margin-left: 1rem;
      transition: .3s all ease;
      transform: rotate(180deg);
    }
    &.collapsed{
      img{
        margin-left: 1rem;
        transform: rotate(0deg);
        transition: .3s all ease;
      }
    }
  }
}

.tag_oval{
  padding: .7rem 1.1rem;
  border-radius: 2.4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  display: inline-block;
}

a{
  &.color_gr{
    color: #41AE7C;
  }
}

.und_line_green{
  text-decoration: underline;
  -webkit-text-decoration-color: #41AE7C;
  text-decoration-color: #41AE7C;
}

.input_datapicker{
  border: 0;
  background-color: unset; 
  width: 28rem;
  border: 1px solid #0000001e;
  border-radius: 0.3rem;
  padding: .6rem 1.4rem;
  font-size: 1.3rem;
  background-size: 1.8rem 1.8rem;
  background-position-y: center;
  background-position-x: calc(100% - 1.4rem);
  height: 3.6rem;
}
.nav-tabs_card {
  border-bottom: none;
  margin-bottom: 3rem;

  .nav-item {
    padding: 0;
    .nav-link {
      color: #41AE7C;
      text-align: center;
      border: 1px solid #41AE7C;
      height: 3.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      border-right: 0;
      &.active {
        background: #41AE7C;
        color: #ffffff;
        border: 1px solid #41AE7C !important;
        height: 3.6rem;
      }
    }
    &:last-child {
      .nav-link {
        border-right: 1px solid #41AE7C;
        border-radius: 0px 2px 2px 0px;
      }
    }
    &:first-child {
      .nav-link {
        border-radius: 2px 0px 0px 2px;
      }
    }
  }
}