/*********** header **********/
.site_header {
  background: url(../img/header_fon.jpg) no-repeat top right;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: transform 0.3s ease;
  opacity: 1 !important;
  .container_top {
    max-width: 146rem;
    padding: 0 1.5rem;
    height: 7rem;
    margin: 0 auto;
    align-items: center;
  }
  .header_logo {
    display: block;
    flex: none;
    margin-right: 4.6rem;
    width: 20.9rem;
    img {
      max-width: 100%;
    }
  }
  .header_cont {
    flex-grow: 1;
    display: flex;
    align-items: center;
    height: 100%;
    .logo_top {
      display: block;
      .logo_top_text1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: .4rem;
        display: block;
      }
      .logo_top_text2 {
        margin-bottom: 1.4rem;
      }
    }
    .div_left {
      font-size: 1.1rem;
      line-height: 130%;
      padding-right: 3.8rem;
      border-right: 1px solid #ccc;
      flex: none;
      width: 16.2rem;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .div_right {
      display: flex;
      width: 100%;
      height: 100%;
    }
  }
  .hc_dt1 {
    margin-right: auto;
    height: 100%;
    padding-left: 4rem;
  }
  .hc_dt2 {
    margin-right: 3.6rem;
    display: inline-flex;
    align-items: center;
    height: 100%;
    border-left: 1px solid #ccc;
    padding: 0 3.6rem;
    border-right: 1px solid #ccc;
    font-weight: bold;
  }
  .hc_dt3 {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .menu_levl1 {
    display: flex;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.56rem;
    height: 100%;
    align-items: center;
    .menu_levl1_el {
      z-index: 2;
      display: inline-flex;
      height: 100%;
      align-items: center;
      margin-right: 3.6rem;
      position: relative;
      &.act:after {
        content: "";
        position: absolute;
        bottom: -.1rem;
        height: 0.2rem;
        background: #41AE7C;
        z-index: 1;
        transition: all 0.15s ease-in-out;
        left: 0;
        right: 0;
      }
    }
  }
  .anim_menu {
    transform: translateY(calc(-4rem));
    opacity: 0;
  }
  .autch_top_a {
    display: flex;
    align-items: center;
    .pic_profile {
      margin-right: 1.5rem;
      svg {
        display: block;
      }
    }
  }

  .menu_btn {
    height: 24px;
    width: 24px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    opacity: 0.7;
    display: none;
    margin-left: auto;
    > div {
      width: 18px;
      height: 2px;
      background: #000000;
      margin-bottom: 0.6rem;
      transition: transform 0.3s ease;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.hide_menu {
  .site_header {
    transform: translateY(calc(-100% - 0.2rem));
  }
}

@media  (max-width: 991px) {
  .site_header {
    background-size: cover;
    .header_cont {
      .div_left {
        border: none;
      }
      .div_right {
        display: none;
      }
      .hc_dt1 {
        padding: 0;
        margin: 0 0 auto 0;
        width: 100%;
      }
      .hc_dt2 {
        padding: 0;
        border: none;
        display: inline-flex;
        height: auto;
        max-width: calc(100% - 4rem);
        margin-right: 2rem;
      }
      .hc_dt3 {
        padding: 0;
        border: none;
        display: inline-flex;
        height: auto;
        width: 2rem;
        margin-left: auto;
        margin-top: -2rem;
      }
      .menu_levl1 {
        flex-direction: column;
        margin-bottom: 2rem;
        .menu_levl1_el {
          width: 100%;
          margin: 0;
          padding: 1rem;
          height: auto;
          &.act {
            background: #41AE7C;
            color: #FFFFFF;
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .menu_btn {
      display: flex;
    }
  }
  .menu_mob_show {
    height: 100%;
    overflow: hidden;
    .menu_btn {
      opacity: 1;
      > div {
        width: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -9px;
      }
      > div:first-child {
        transform: rotate(-135deg);
      }
      > div:nth-child(2) {
        display: none;
      }
      > div:last-child {
        transform: rotate(135deg);
      }
    }
    .site_header {
      .header_cont {
        .div_right {
          display: flex;
          flex-direction: column;
          position: fixed;
          left: 0;
          top: 7rem;
          right: 0;
          bottom: 0;
          background: #FFFFFF;
          padding: 2rem;
          height: auto;
          justify-content: center;
        }
      }
      .menu_btn {
        display: flex;
      }
    }
  }

}

/*********** /header **********/

/*********** scroll **********/
*,
html * /* override x.xhtml.ru style */ 
{
  scrollbar-width: thin; 
  scrollbar-color: #f8f8f8 none; 
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}
*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: none;
}
*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 3px solid none;
}
/*********** /scroll **********/



/*********** site_content **********/
.site_content {
  flex: 1 1 auto;
  padding-bottom: 10rem;
  position: relative;
}
/*********** /site_content **********/


/*********** footer **********/
.site_footer {
  background: #F8F8F9;
  padding: 1.7rem 0;
  .container_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_text {
    color: rgba(0, 0, 0, 0.5);
  }
  .footer_scroll_top {
    cursor: pointer;
  }
}
/*********** footer **********/
