/*********** header **********/
.site_header {
  background: url(../img/header_fon.jpg) no-repeat top right;
  background-size: cover;
  border-bottom: 1px solid #ccc;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  opacity: 1 !important;
}

.site_header .container_top {
  max-width: 146rem;
  padding: 0 1.5rem;
  height: 7rem;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .header_logo {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  margin-right: 4.6rem;
  width: 20.9rem;
}

.site_header .header_logo img {
  max-width: 100%;
}

.site_header .header_cont {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site_header .header_cont .logo_top {
  display: block;
}

.site_header .header_cont .logo_top .logo_top_text1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: .4rem;
  display: block;
}

.site_header .header_cont .logo_top .logo_top_text2 {
  margin-bottom: 1.4rem;
}

.site_header .header_cont .div_left {
  font-size: 1.1rem;
  line-height: 130%;
  padding-right: 3.8rem;
  border-right: 1px solid #ccc;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16.2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .header_cont .div_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.site_header .hc_dt1 {
  margin-right: auto;
  height: 100%;
  padding-left: 4rem;
}

.site_header .hc_dt2 {
  margin-right: 3.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  border-left: 1px solid #ccc;
  padding: 0 3.6rem;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.site_header .hc_dt3 {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .menu_levl1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.56rem;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .menu_levl1 .menu_levl1_el {
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 3.6rem;
  position: relative;
}

.site_header .menu_levl1 .menu_levl1_el.act:after {
  content: "";
  position: absolute;
  bottom: -.1rem;
  height: 0.2rem;
  background: #41AE7C;
  z-index: 1;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  left: 0;
  right: 0;
}

.site_header .anim_menu {
  -webkit-transform: translateY(calc(-4rem));
          transform: translateY(calc(-4rem));
  opacity: 0;
}

.site_header .autch_top_a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_header .autch_top_a .pic_profile {
  margin-right: 1.5rem;
}

.site_header .autch_top_a .pic_profile svg {
  display: block;
}

.site_header .menu_btn {
  height: 24px;
  width: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
  opacity: 0.7;
  display: none;
  margin-left: auto;
}

.site_header .menu_btn > div {
  width: 18px;
  height: 2px;
  background: #000000;
  margin-bottom: 0.6rem;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.site_header .menu_btn > div:last-child {
  margin-bottom: 0;
}

.hide_menu .site_header {
  -webkit-transform: translateY(calc(-100% - 0.2rem));
          transform: translateY(calc(-100% - 0.2rem));
}

@media (max-width: 991px) {
  .site_header {
    background-size: cover;
  }
  .site_header .header_cont .div_left {
    border: none;
  }
  .site_header .header_cont .div_right {
    display: none;
  }
  .site_header .header_cont .hc_dt1 {
    padding: 0;
    margin: 0 0 auto 0;
    width: 100%;
  }
  .site_header .header_cont .hc_dt2 {
    padding: 0;
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    max-width: calc(100% - 4rem);
    margin-right: 2rem;
  }
  .site_header .header_cont .hc_dt3 {
    padding: 0;
    border: none;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    height: auto;
    width: 2rem;
    margin-left: auto;
    margin-top: -2rem;
  }
  .site_header .header_cont .menu_levl1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 2rem;
  }
  .site_header .header_cont .menu_levl1 .menu_levl1_el {
    width: 100%;
    margin: 0;
    padding: 1rem;
    height: auto;
  }
  .site_header .header_cont .menu_levl1 .menu_levl1_el.act {
    background: #41AE7C;
    color: #FFFFFF;
  }
  .site_header .header_cont .menu_levl1 .menu_levl1_el.act:after {
    display: none;
  }
  .site_header .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu_mob_show {
    height: 100%;
    overflow: hidden;
  }
  .menu_mob_show .menu_btn {
    opacity: 1;
  }
  .menu_mob_show .menu_btn > div {
    width: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
  }
  .menu_mob_show .menu_btn > div:first-child {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
  }
  .menu_mob_show .menu_btn > div:nth-child(2) {
    display: none;
  }
  .menu_mob_show .menu_btn > div:last-child {
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  .menu_mob_show .site_header .header_cont .div_right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    left: 0;
    top: 7rem;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    padding: 2rem;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_mob_show .site_header .menu_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*********** /header **********/
/*********** scroll **********/
*,
html * {
  scrollbar-width: thin;
  scrollbar-color: #f8f8f8 none;
}

*::-webkit-scrollbar,
html *::-webkit-scrollbar {
  height: 2px;
  width: 2px;
}

*::-webkit-scrollbar-track,
html *::-webkit-scrollbar-track {
  background: none;
}

*::-webkit-scrollbar-thumb,
html *::-webkit-scrollbar-thumb {
  background-color: #f8f8f8;
  border-radius: 5px;
  border: 3px solid none;
}

/*********** /scroll **********/
/*********** site_content **********/
.site_content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-bottom: 10rem;
  position: relative;
}

/*********** /site_content **********/
/*********** footer **********/
.site_footer {
  background: #F8F8F9;
  padding: 1.7rem 0;
}

.site_footer .container_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_footer .footer_text {
  color: rgba(0, 0, 0, 0.5);
}

.site_footer .footer_scroll_top {
  cursor: pointer;
}

/*********** footer **********/
/*# sourceMappingURL=body.css.map */