.diagram_wrap1 {
  background: #FAFAFA;
  padding: 2.4rem; }
  .diagram_wrap1 .diagram_tit {
    font-size: 1.7777rem;
    margin-bottom: 3rem;
    font-weight: 500; }
  .diagram_wrap1 .diagram_canvas {
    margin-bottom: 2rem; }

.diagram_doughnut {
  position: relative; }
  .diagram_doughnut .diagram_num {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold; }
    .diagram_doughnut .diagram_num .diagram_num_t1 {
      font-size: 2.4rem;
      margin-bottom: .5rem; }

.diagram_legend ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.2rem; }
  .diagram_legend ul li {
    width: calc(50% - 1.2rem);
    display: flex;
    margin-bottom: 1.2rem;
    margin-right: 1.2rem;
    align-items: center; }
    .diagram_legend ul li .sp1 {
      width: 1rem;
      height: 1rem;
      margin-right: .8rem;
      border-radius: 100%; }
    .diagram_legend ul li .sp2 {
      align-self: center; }

.diagram_h1 {
  height: 19rem; }

/*# sourceMappingURL=charts_all.css.map */
