@charset "UTF-8";
.header_company_info .company_ct {
  margin-bottom: 2rem;
  display: flex; }
.header_company_info .dt1 {
  margin-right: 3rem; }
.header_company_info .div_ico {
  width: 6.4rem;
  height: 6.4rem;
  border: 1px solid rgba(56, 59, 74, 0.2);
  border-radius: 25rem;
  background-size: contain; }
.header_company_info .company_name {
  font-size: 3.4rem;
  margin-bottom: 0.4rem;
  line-height: 120%; }
.header_company_info .company_descr {
  margin-bottom: 1.6rem;
  opacity: 0.6;
  line-height: 120%; }
.header_company_info .company_url {
  margin-bottom: 1.4rem;
  line-height: 120%; }
.header_company_info .company_adress {
  margin-bottom: 1.2rem;
  line-height: 120%; }
.header_company_info .a_under {
  border-bottom: 1px solid black; }
.header_company_info .div_btn {
  margin-bottom: 2.2rem; }
  .header_company_info .div_btn .btn {
    padding: 0.6rem 1.9rem;
    line-height: 185%; }
.header_company_info .div_info {
  font-size: 1.2rem;
  opacity: 0.6; }
.header_company_info .div_sub {
  opacity: 0.6;
  margin-bottom: 0.8rem;
  line-height: 120%; }
.header_company_info .div_part {
  line-height: 120%; }
.header_company_info .div_num {
  font-size: 2.4rem;
  line-height: 120%; }
.header_company_info .num_ct {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.block_info .dt_left {
  position: sticky;
  top: 1rem;
  height: 100%; }
  .block_info .dt_left .nav-tabs {
    padding: 3rem 0;
    background: #F8F8F9;
    flex-direction: column;
    border-bottom: 0;
    width: 23.1rem; }
    .block_info .dt_left .nav-tabs .nav-link {
      padding: 1.3rem 2.0rem;
      color: #7C7C7D;
      position: relative;
      border: none; }
      .block_info .dt_left .nav-tabs .nav-link.active {
        background: #E6F1ED;
        border: none;
        opacity: 1;
        color: #000; }
        .block_info .dt_left .nav-tabs .nav-link.active:before {
          content: '';
          width: 0.2rem;
          top: 0;
          left: 0;
          height: 100%;
          background: #41AE7C;
          position: absolute; }
        .block_info .dt_left .nav-tabs .nav-link.active:hover:before {
          content: '';
          width: 0.2rem;
          top: 0;
          left: 0;
          height: 100%;
          background: #41AE7C;
          position: absolute; }
      .block_info .dt_left .nav-tabs .nav-link:hover {
        background: #E6F1ED;
        border: none; }

@media (max-width: 991px) {
  .block_info .dt_left {
    position: static; } }
.block_info {
  padding-top: 4rem; }
  .block_info .dt_right {
    padding-top: 3rem; }
    .block_info .dt_right .el_ct {
      margin-bottom: 4.5rem; }
    .block_info .dt_right .div_ico {
      display: inline-flex; }
      .block_info .dt_right .div_ico .div_txt {
        margin-right: 0.8rem; }
    .block_info .dt_right .div_type {
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%; }
      .block_info .dt_right .div_type span {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        opacity: 0.5; }
      .block_info .dt_right .div_type .div_adress {
        font-weight: bold; }
    .block_info .dt_right .adr_ct {
      padding-bottom: 1.6rem;
      border-bottom: 1px solid #F8F8F8;
      margin-bottom: 1.6rem; }
      .block_info .dt_right .adr_ct:last-child {
        margin-bottom: 0; }

.row_info .div_el {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem; }
  .row_info .div_el .div_info_name {
    opacity: 0.5;
    font-size: 1.2rem;
    line-height: 120%;
    max-width: 12.5rem;
    width: 100%;
    flex-shrink: 0; }
  .row_info .div_el .div_info_txt {
    font-weight: 500;
    line-height: 120%; }
  .row_info .div_el .div_info_txt2 {
    font-weight: 500;
    line-height: 120%; }
    .row_info .div_el .div_info_txt2 .text_little {
      font-weight: normal;
      opacity: 0.5; }
    .row_info .div_el .div_info_txt2 .div_text {
      margin-bottom: 1.5rem;
      font-weight: 500; }

.card_hide {
  display: none;
  margin-bottom: 2rem;
  color: #41AE7C; }

.card_hider .header_company_info {
  display: none; }

.card_show {
  display: none;
  color: #41AE7C; }

.card_hider_body .card_show {
  display: block; }
.card_hider_body .site_content {
  padding-top: 0;
  transform: translate(0px, 100px);
  transition: transform 0.3s ease; }
.card_hider_body .block_info {
  padding-top: 3rem; }

@media (max-width: 991px) {
  .card_hide {
    display: block; } }
.div_graf {
  height: 23.6rem;
  width: 100%;
  margin-bottom: 1.5rem; }

.chart_ct {
  position: relative; }

.div_graf_name {
  position: absolute;
  top: 2rem;
  font-weight: bold; }

.chart_ct {
  position: relative;
  top: 3rem; }

.chart_two {
  display: flex; }
  .chart_two .chart_wrap2 {
    height: 23.6rem;
    width: calc(50% - 2rem);
    position: relative; }
    .chart_two .chart_wrap2 .div_graf2 {
      height: 100%; }
    .chart_two .chart_wrap2:first-child {
      margin-right: 4rem; }

@media (max-width: 991px) {
  .chart_ct {
    flex-wrap: wrap; }
    .chart_ct .div_graf2 {
      width: 100%; }
      .chart_ct .div_graf2:first-child {
        margin-right: 0; } }
.div_graf_num {
  position: absolute;
  font-weight: 500; }

.row_new .col-lg-3,
.row_new .col-lg-4,
.row_new .col-lg-6 {
  padding: 0; }
.row_new.row_new_1 {
  margin-top: 7rem; }

.search_row {
  display: flex; }
  .search_row > :first-child {
    padding-left: 0; }
  .search_row > :last-child {
    padding-right: 0; }

.tab_block .row_head {
  padding: 2rem;
  color: #41AE7C;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15); }
.tab_block .row_new > div {
  text-align: right;
  padding: 0 0 0 1rem; }
.tab_block .row_new .col-first {
  text-align: left;
  padding: 0; }
.tab_block .row_name {
  padding: 1.5rem;
  text-align: center;
  font-weight: 500; }
.tab_block .row_inner_head {
  background: #F8F8F9;
  padding: 1.5rem 2rem; }
.tab_block .row_inner {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.tab2_cont .row_info .div_el {
  justify-content: normal; }
  .tab2_cont .row_info .div_el .div_info_name {
    max-width: 16.6rem;
    margin-right: 1.6rem; }

/* tab Performance indicators data*/
.tab3_cont .head_h2_right .div_right .a_hid {
  font-size: 1.3rem;
  color: #41AE7C; }
.tab3_cont h2, .tab3_cont h3 {
  width: 100%; }
.tab3_cont h3 {
  margin-bottom: 0.4rem; }
.tab3_cont .row_new + .row_new h3 {
  padding-top: 5.8rem; }
.tab3_cont .tab3_1_cont .block_table {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
.tab3_cont .tab3_1_cont .row_inner {
  border: 0;
  padding: 1rem 2rem; }
.tab3_cont .tab3_1_cont .row_inner2 {
  padding: .4rem 2rem 1.6rem 2rem;
  font-size: 1.2rem; }
  .tab3_cont .tab3_1_cont .row_inner2 .col-first {
    padding-left: 2rem; }
.tab3_cont .tab3_1_cont .row_inner_head_sub {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem; }
.tab3_cont .tab3_1_cont .row_head, .tab3_cont .tab3_1_cont .row_inner_head, .tab3_cont .tab3_1_cont .row_inner_head_sub {
  font-weight: 500; }
.tab3_cont .tab3_3_cont .row_inner_head, .tab3_cont .tab3_3_cont .row_head {
  font-weight: 500; }
.tab3_cont .tab3_3_cont .border_none {
  border: unset; }
.tab3_cont .tab3_3_cont .row_inner2 {
  padding: .4rem 2rem 2rem 2rem;
  border-bottom: 0;
  font-size: 1.2rem; }
  .tab3_cont .tab3_3_cont .row_inner2 .col-first {
    padding-left: 2rem; }
.tab3_cont .tab3_4_cont .row_inner2 {
  font-weight: 500; }

@media (max-width: 767px) {
  .tab2_cont .row_info .div_el {
    flex-wrap: wrap; }
    .tab2_cont .row_info .div_el > div {
      width: 100%; }
    .tab2_cont .row_info .div_el .div_info_name {
      margin-bottom: 2rem; } }
.span_h .div_tit {
  opacity: 0.5;
  font-size: 1.2rem;
  margin-bottom: 0.8rem; }
.span_h span {
  opacity: 0.5; }
  .span_h span:before {
    content: '.';
    padding: 0 0.5rem;
    vertical-align: super;
    line-height: 60%; }

.modal .modal-dialog {
  max-width: 600px;
  transform: translate(0, 50%) !important; }
.modal .modal-content {
  padding: 4rem 4.5rem; }
.modal .div_btns {
  text-align: center;
  padding-top: 2.5rem;
  font-size: 1.3rem; }
  .modal .div_btns .btn-opacity {
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.15); }
.modal button.close {
  position: absolute !important;
  right: 2rem;
  top: 2rem; }

.hidden_pane {
  display: none;
  text-align: center;
  padding-top: 3.4rem; }
  .hidden_pane .div_ico {
    margin-bottom: 3rem; }
  .hidden_pane .div_txt {
    margin-bottom: 4rem;
    opacity: 0.5; }

.all_hidden .hidden_pane {
  display: block; }
.all_hidden .nav-tabs,
.all_hidden .tab-content,
.all_hidden .a_hid {
  display: none; }

.no_info {
  padding-top: 4rem;
  text-align: center;
  display: none; }
  .no_info.active {
    display: block; }
    .no_info.active + .tab-content {
      display: none; }
  .no_info .div_img {
    margin-bottom: 2.2rem; }

.contact_inform_content {
  margin-bottom: 6rem; }
  .contact_inform_content .search_inf_cont .search_ct {
    max-width: 40rem;
    margin-bottom: 3rem; }
    .contact_inform_content .search_inf_cont .search_ct input {
      padding: 0.5rem 1.8rem 0.5rem 5rem;
      line-height: 185%;
      height: 3.6rem; }
  .contact_inform_content .table_inform .row_cont {
    padding: 1.5rem 0;
    border-bottom: 1px solid #e6e6e6; }
    .contact_inform_content .table_inform .row_cont .td {
      display: flex; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_ico {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: none;
        margin-right: 2rem;
        color: white;
        background: #EBF2F2; }
        .contact_inform_content .table_inform .row_cont .td.td1 .div_ico.backg_grad {
          background: linear-gradient(346.19deg, #98F1C9 9.87%, #41AE7C 90.13%); }
        .contact_inform_content .table_inform .row_cont .td.td1 .div_ico .div_img {
          font-size: 2.2rem;
          line-height: 120%; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_user {
        width: 42%;
        margin-right: 2rem;
        display: flex;
        align-items: center;
        align-self: baseline; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_phonemail {
        width: 29.4%;
        margin-right: 2rem; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_source {
        width: 23%; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_user .div_cont:last-child, .contact_inform_content .table_inform .row_cont .td.td1 .div_phonemail .div_cont:last-child, .contact_inform_content .table_inform .row_cont .td.td1 .div_source .div_cont:last-child {
        margin-bottom: 0; }
      .contact_inform_content .table_inform .row_cont .td.td1 .div_cont {
        margin-bottom: 2rem; }
        .contact_inform_content .table_inform .row_cont .td.td1 .div_cont:first-child {
          margin-top: .7rem; }
        .contact_inform_content .table_inform .row_cont .td.td1 .div_cont .name_cont {
          opacity: 0.6;
          margin-bottom: .7rem; }
        .contact_inform_content .table_inform .row_cont .td.td1 .div_cont.div_cont2 {
          margin-bottom: 0; }
          .contact_inform_content .table_inform .row_cont .td.td1 .div_cont.div_cont2 .name_cont {
            margin-bottom: 0; }
          .contact_inform_content .table_inform .row_cont .td.td1 .div_cont.div_cont2 .value_cont {
            margin-bottom: .7rem; }

.tab4_cont .search_row {
  margin-bottom: 3rem; }
  .tab4_cont .search_row .input_datapicker {
    width: 100%; }
.tab4_cont h3 {
  margin-bottom: 2.5rem; }
.tab4_cont .cont_table_city {
  margin-bottom: 7rem; }
  .tab4_cont .cont_table_city .table_city_row {
    display: flex;
    font-weight: 500; }
    .tab4_cont .cont_table_city .table_city_row .td {
      padding: 1.6rem .5rem 1.6rem .5rem; }
      .tab4_cont .cont_table_city .table_city_row .td.td1 {
        width: 38.5%;
        padding-left: 2rem; }
      .tab4_cont .cont_table_city .table_city_row .td.td2 {
        width: 17%;
        text-align: center;
        padding-right: 7rem; }
      .tab4_cont .cont_table_city .table_city_row .td.td3 {
        width: 16%;
        text-align: center;
        padding-right: 7.5rem; }
      .tab4_cont .cont_table_city .table_city_row .td.td4 {
        width: 9%;
        text-align: center;
        padding-right: 1rem; }
      .tab4_cont .cont_table_city .table_city_row .td.td5 {
        width: 13.5%; }
      .tab4_cont .cont_table_city .table_city_row .td.td6 {
        width: 5.5%;
        padding-right: 2rem; }
    .tab4_cont .cont_table_city .table_city_row.table_head {
      border-bottom: 2px solid #d9d9d9;
      color: #41AE7C;
      font-weight: 500; }
      .tab4_cont .cont_table_city .table_city_row.table_head .td {
        padding-top: 0;
        padding-bottom: 2rem; }
        .tab4_cont .cont_table_city .table_city_row.table_head .td.td2, .tab4_cont .cont_table_city .table_city_row.table_head .td.td4, .tab4_cont .cont_table_city .table_city_row.table_head .td.td3 {
          padding-left: .5rem;
          text-align: start; }
    .tab4_cont .cont_table_city .table_city_row.table_sub_row .td {
      padding-top: 0;
      font-size: 1.2rem;
      line-height: 120%; }
      .tab4_cont .cont_table_city .table_city_row.table_sub_row .td.td1 {
        padding-left: 4rem;
        font-weight: 400; }
      .tab4_cont .cont_table_city .table_city_row.table_sub_row .td.td5 {
        font-size: 1.3rem;
        line-height: 140%; }
.tab4_cont .div_collapse {
  border-bottom: 1px solid #e6e6e6; }

.contact_comment_block .h2_border {
  margin-bottom: 2rem; }

.contact_comment_content .row_cont {
  padding: 2rem 0;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer; }
  .contact_comment_content .row_cont:hover .div_head_flex .dt2 {
    opacity: 1;
    transition: opacity .3s ease; }
  .contact_comment_content .row_cont .div_head_flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
    .contact_comment_content .row_cont .div_head_flex .dt1 {
      opacity: .5; }
    .contact_comment_content .row_cont .div_head_flex .dt2 {
      color: #41AE7C;
      opacity: 0;
      transition: opacity .3s ease; }
  .contact_comment_content .row_cont .div_pen_file {
    margin-top: 1.3rem;
    display: flex;
    align-items: center;
    font-weight: 500; }
    .contact_comment_content .row_cont .div_pen_file svg {
      margin-right: .8rem; }

.find_block {
  padding-top: 2.4rem;
  margin-bottom: 0.4rem; }

.tags_block {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1.6rem; }
  .tags_block .div_tag {
    padding: 0.5rem 3.5rem 0.5rem 1.1rem;
    margin-right: 0.8rem;
    background: #F8F8F8;
    border-radius: 21px;
    position: relative;
    margin-bottom: 0.8rem; }
    .tags_block .div_tag .close-btn {
      position: absolute;
      right: 1.1rem;
      top: 0.4rem; }
  .tags_block .div_reset {
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center; }
    .tags_block .div_reset .close-btn svg {
      margin-right: 1rem; }

.prod_ct .prod_el {
  padding: 2rem 0;
  border-bottom: 1px solid #E5E5E5; }
  .prod_ct .prod_el:last-child {
    border-bottom: 0; }
  .prod_ct .prod_el:hover .div_name {
    color: #41AE7C; }
.prod_ct .div_ico {
  width: 6.4rem;
  height: 6.4rem;
  border: 1px solid rgba(56, 59, 74, 0.2);
  border-radius: 25rem;
  background-size: contain; }
  .prod_ct .div_ico.not_img {
    background: url("../img/nophoto.png") #F8F8F9 no-repeat center center;
    border: 0; }
.prod_ct .div_name {
  padding-top: 1.1rem;
  margin-bottom: 1rem; }
.prod_ct .div_txt {
  opacity: 0.5; }
.prod_ct .el_tag {
  justify-content: right; }

.tab5_cont .div_btn {
  padding-top: 1.4rem; }
  .tab5_cont .div_btn .btn {
    width: 100%; }

.div_up_files .div_row {
  display: flex;
  align-items: center;
  margin-bottom: 2rem; }
  .div_up_files .div_row .div_img {
    margin-right: 2rem; }
  .div_up_files .div_row .div_stat_file {
    display: flex;
    flex-direction: column; }
    .div_up_files .div_row .div_stat_file .div_stat {
      display: flex; }
      .div_up_files .div_row .div_stat_file .div_stat .dif_filesize {
        margin-right: 1.6rem; }
  .div_up_files .div_row .div_del_file {
    margin-left: auto; }

.modal_comment .div_btns .btn {
  margin: .7rem; }

.modal_accept_comment .modal-content {
  text-align: center; }

.modal_smev_document .select_ct::after {
  top: 1.4rem; }
.modal_smev_document .select_ct .select_control {
  height: 4.6rem;
  line-height: 200%; }
.modal_smev_document .div_modal_row {
  margin-bottom: 2rem;
  max-width: 32rem; }
  .modal_smev_document .div_modal_row label {
    font-weight: 500; }
  .modal_smev_document .div_modal_row input {
    font-size: 1.3rem;
    padding: .9rem 1.3rem;
    height: 4.6rem; }
  .modal_smev_document .div_modal_row.div_modal_row2 {
    display: flex;
    max-width: unset; }
    .modal_smev_document .div_modal_row.div_modal_row2 .dt {
      width: calc(50% - 1rem); }
      .modal_smev_document .div_modal_row.div_modal_row2 .dt:first-child {
        margin-right: 2rem; }

@media (max-width: 767px) {
  .contact_inform_block .head_h2_right, .contact_comment_block .head_h2_right {
    flex-wrap: wrap; }
    .contact_inform_block .head_h2_right h2, .contact_comment_block .head_h2_right h2 {
      margin-bottom: 1rem; }
    .contact_inform_block .head_h2_right .div_right.fl-none, .contact_comment_block .head_h2_right .div_right.fl-none {
      flex: unset;
      flex-wrap: wrap; }
      .contact_inform_block .head_h2_right .div_right.fl-none .btn:not(:last-child), .contact_comment_block .head_h2_right .div_right.fl-none .btn:not(:last-child) {
        margin-bottom: 1rem; }

  .contact_inform_content .table_inform .row_cont .td.td1 {
    flex-wrap: wrap; }
    .contact_inform_content .table_inform .row_cont .td.td1 .div_user, .contact_inform_content .table_inform .row_cont .td.td1 .div_phonemail, .contact_inform_content .table_inform .row_cont .td.td1 .div_cont {
      width: 100%;
      margin: 0 0 2rem 0; }

  .modal_comment .modal-content, .modal_accept_comment .modal-content {
    padding: 2rem; } }
/* Reglament tab */
.tab8_cont .search_row {
  margin-bottom: 4rem; }
.tab8_cont .switch_category {
  margin: 1rem 0;
  display: flex; }
  .tab8_cont .switch_category .div_elem {
    padding: 0.7rem 0 0.7rem 0;
    width: fit-content; }
  .tab8_cont .switch_category .border_backgr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2.2rem;
    padding: .7rem 1.1rem .7rem 1.2rem;
    margin-right: 1rem;
    cursor: pointer; }
  .tab8_cont .switch_category .green_cat {
    color: #41AE7C; }
    .tab8_cont .switch_category .green_cat:hover {
      color: #41AE7C; }
    .tab8_cont .switch_category .green_cat.active {
      background: #41AE7C;
      color: white; }
      .tab8_cont .switch_category .green_cat.active svg path {
        stroke: white; }
  .tab8_cont .switch_category .yellow_cat {
    color: #E49A2A; }
    .tab8_cont .switch_category .yellow_cat:hover {
      color: #E49A2A; }
    .tab8_cont .switch_category .yellow_cat.active {
      background: #E49A2A;
      color: white; }
      .tab8_cont .switch_category .yellow_cat.active svg path {
        fill: white; }
        .tab8_cont .switch_category .yellow_cat.active svg path:first-child {
          fill: unset;
          stroke: white; }
  .tab8_cont .switch_category .red_cat {
    color: #DD1717; }
    .tab8_cont .switch_category .red_cat:hover {
      color: #DD1717; }
    .tab8_cont .switch_category .red_cat.active {
      background: #DD1717;
      color: white; }
      .tab8_cont .switch_category .red_cat.active svg path {
        stroke: white; }
.tab8_cont .cont_table_reg .a_ico svg {
  margin-left: .6rem; }
.tab8_cont .cont_table_reg .table_reg_row {
  display: flex;
  padding: 1.6rem 2rem 1.5rem 2.1rem;
  border-bottom: 1px solid #e6e6e6; }
  .tab8_cont .cont_table_reg .table_reg_row.table_head {
    border-bottom: 2px solid #d9d9d9;
    padding: 1.6rem 2rem 2rem 2.1rem; }
    .tab8_cont .cont_table_reg .table_reg_row.table_head .td {
      color: #41AE7C; }
  .tab8_cont .cont_table_reg .table_reg_row .td {
    width: 19rem; }
    .tab8_cont .cont_table_reg .table_reg_row .td.td1 {
      margin-left: 2rem; }
    .tab8_cont .cont_table_reg .table_reg_row .td.td4 {
      text-align: end; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td4 .a_ico:last-child {
        margin-left: 3rem; }
    .tab8_cont .cont_table_reg .table_reg_row .td.td_last {
      width: 28.5rem; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td_last .downl_sources {
        display: flex;
        justify-content: flex-end; }

.a_ico {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color .5s ease; }
  .a_ico:hover {
    color: #41AE7C;
    transition: color .5s ease;
    cursor: pointer; }
  .a_ico svg, .a_ico img {
    margin-left: .8rem; }

@media (max-width: 767px) {
  .tab8_cont .switch_category {
    flex-wrap: wrap; }
    .tab8_cont .switch_category .div_elem {
      margin-bottom: 1rem; }
  .tab8_cont .search_row {
    flex-wrap: wrap; }
    .tab8_cont .search_row > :first-child {
      padding: 0; }
    .tab8_cont .search_row > :last-child {
      padding: 0; }
    .tab8_cont .search_row .search_ct {
      height: 3.6rem;
      margin-bottom: 2rem; }
  .tab8_cont .cont_table_reg .table_reg_row {
    padding: 0 0 1rem 0;
    flex-wrap: wrap; }
    .tab8_cont .cont_table_reg .table_reg_row.table_head {
      display: none; }
    .tab8_cont .cont_table_reg .table_reg_row .td {
      width: 100%;
      padding: 2rem 0.6rem 0.6rem 0.6rem;
      position: relative; }
      .tab8_cont .cont_table_reg .table_reg_row .td::before {
        position: absolute;
        top: 0;
        opacity: .4; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td1 {
        margin-left: 0; }
        .tab8_cont .cont_table_reg .table_reg_row .td.td1::before {
          content: "Дата и время проверки"; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td2::before {
        content: "Источник"; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td3::before {
        content: "Результаты проверки"; }
      .tab8_cont .cont_table_reg .table_reg_row .td.td_last {
        width: 100%; } }
/* Reglament info */
.header_reglament_info.site_content_top {
  padding: 12.5rem 0 3.6rem; }
.header_reglament_info .flex_block {
  display: flex;
  justify-content: space-between;
  align-items: end; }
  .header_reglament_info .flex_block:first-child {
    margin-bottom: 1rem; }
.header_reglament_info .el_tag {
  margin-bottom: 2rem; }
.header_reglament_info .backspace_button {
  display: flex;
  margin-bottom: 1.2rem; }
.header_reglament_info .cat_select {
  display: flex;
  align-items: center; }
  .header_reglament_info .cat_select .text_1 {
    margin-right: 1.2rem; }
  .header_reglament_info .cat_select .div_elem {
    padding: 0.7rem 0 0.7rem 0;
    width: fit-content; }
  .header_reglament_info .cat_select .border_backgr {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 2.2rem;
    padding: .7rem 1.1rem .7rem 1.2rem;
    margin-right: 1rem;
    cursor: pointer; }
  .header_reglament_info .cat_select .green_cat {
    color: #41AE7C; }
    .header_reglament_info .cat_select .green_cat:hover {
      color: #41AE7C; }
    .header_reglament_info .cat_select .green_cat.active {
      background: #41AE7C;
      color: white; }
      .header_reglament_info .cat_select .green_cat.active svg path {
        stroke: white; }
  .header_reglament_info .cat_select .yellow_cat {
    color: #E49A2A; }
    .header_reglament_info .cat_select .yellow_cat:hover {
      color: #E49A2A; }
    .header_reglament_info .cat_select .yellow_cat.active {
      background: #E49A2A;
      color: white; }
      .header_reglament_info .cat_select .yellow_cat.active svg path {
        fill: white; }
        .header_reglament_info .cat_select .yellow_cat.active svg path:first-child {
          fill: unset;
          stroke: white; }
  .header_reglament_info .cat_select .red_cat {
    color: #DD1717; }
    .header_reglament_info .cat_select .red_cat:hover {
      color: #DD1717; }
    .header_reglament_info .cat_select .red_cat.active {
      background: #DD1717;
      color: white; }
      .header_reglament_info .cat_select .red_cat.active svg path {
        stroke: white; }

.block_reglament_card.row_info .div_el {
  justify-content: normal; }
  .block_reglament_card.row_info .div_el .div_info_name {
    max-width: 16.5rem;
    margin-right: 2.5rem; }

.block_reglament_card hr {
  margin: 2rem 0; }
.block_reglament_card .dt_left {
  padding-right: 3rem; }
.block_reglament_card .div_img_big {
  max-height: 30rem;
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: 50% 50% !important; }
.block_reglament_card .div_img_little {
  padding: 0 0.7rem;
  max-width: 6.4rem;
  width: 100%;
  background-size: contain !important;
  background-position: 50% 50% !important; }
.block_reglament_card h2 {
  width: 100%; }
.block_reglament_card .div_base_check, .block_reglament_card .div_base_check_2 {
  margin-bottom: 6rem; }
.block_reglament_card .div_nums {
  margin-bottom: 3rem; }
  .block_reglament_card .div_nums .div_txt {
    opacity: 0.5;
    font-size: 1.2rem;
    margin-bottom: 0.9rem; }
  .block_reglament_card .div_nums .div_num {
    font-size: 2.4rem;
    line-height: 120%; }
.block_reglament_card .text_conet .text_desc {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem; }
  .block_reglament_card .text_conet .text_desc .ico {
    margin-right: .8rem; }
  .block_reglament_card .text_conet .text_desc .a_text {
    color: #41AE7C;
    border-bottom: 1px solid #41AE7C;
    display: inline; }

@media (max-width: 767px) {
  .header_reglament_info .flex_block {
    flex-wrap: wrap; }
    .header_reglament_info .flex_block .cat_select {
      flex-wrap: wrap; } }
/* tab document */
.tab9_cont .div_head_filter {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem; }
  .tab9_cont .div_head_filter .dt {
    width: calc(33% - 2rem);
    margin-right: 2rem; }
    .tab9_cont .div_head_filter .dt.dt_last {
      width: 33%;
      margin-right: 0;
      margin-left: auto;
      width: fit-content; }
.tab9_cont .table_document .div_row {
  display: flex;
  border-bottom: 1px solid #e6e6e6; }
  .tab9_cont .table_document .div_row.div_head {
    color: #41AE7C;
    border-bottom: 2px solid #d9d9d9; }
    .tab9_cont .table_document .div_row.div_head .td.td1 {
      padding: 1.5rem 1rem 1.6rem 2rem;
      width: 33.4%; }
    .tab9_cont .table_document .div_row.div_head .td.td2 {
      padding: 1.5rem 1rem 1.6rem 1rem;
      width: 20.3%; }
    .tab9_cont .table_document .div_row.div_head .td.td3 {
      padding: 1.5rem 1rem 1.6rem 1rem;
      width: 20.6%; }
    .tab9_cont .table_document .div_row.div_head .td.td4 {
      padding: 1.5rem 1rem 1.6rem 1rem;
      width: 14%; }
    .tab9_cont .table_document .div_row.div_head .td.td5 {
      padding: 1.5rem 2rem 1.6rem 1rem;
      width: 10%; }
  .tab9_cont .table_document .div_row .td.td1 {
    padding: 1.5rem 1rem 1.6rem 2rem;
    width: 33%; }
  .tab9_cont .table_document .div_row .td.td2 {
    padding: 1.5rem 1rem 1.6rem 1rem;
    width: 29%; }
  .tab9_cont .table_document .div_row .td.td3 {
    padding: 1.5rem 1rem 1.6rem 1rem;
    width: 12%; }
  .tab9_cont .table_document .div_row .td.td4 {
    padding: 1.5rem 1rem 1.6rem 1rem;
    width: 14%; }
  .tab9_cont .table_document .div_row .td.td5 {
    padding: 1.5rem 2rem 1.6rem 1rem;
    width: 10%; }

@media (max-width: 767px) {
  .tab9_cont .div_head_filter {
    flex-wrap: wrap; }
    .tab9_cont .div_head_filter .dt {
      width: 100%;
      margin: 0 0 2rem 0; }
  .tab9_cont .table_document .div_row {
    flex-wrap: wrap; }
    .tab9_cont .table_document .div_row.div_head {
      display: none; }
    .tab9_cont .table_document .div_row .td {
      position: relative; }
      .tab9_cont .table_document .div_row .td::before {
        content: "";
        position: absolute;
        top: .5rem;
        left: 1rem;
        opacity: 0.5; }
      .tab9_cont .table_document .div_row .td.td1 {
        padding: 2.5rem 1rem 1rem 1rem;
        width: 100%; }
        .tab9_cont .table_document .div_row .td.td1::before {
          content: "Документ"; }
      .tab9_cont .table_document .div_row .td.td2 {
        padding: 2.5rem 1rem 1rem 1rem;
        width: 100%; }
        .tab9_cont .table_document .div_row .td.td2::before {
          content: "Тип"; }
      .tab9_cont .table_document .div_row .td.td3 {
        padding: 2.5rem 1rem 1rem 1rem;
        width: 100%; }
        .tab9_cont .table_document .div_row .td.td3::before {
          content: "Размер файла, кБ"; }
      .tab9_cont .table_document .div_row .td.td4 {
        padding: 2.5rem 1rem 1rem 1rem;
        width: 100%; }
        .tab9_cont .table_document .div_row .td.td4::before {
          content: "Дата загрузки"; }
      .tab9_cont .table_document .div_row .td.td5 {
        padding: 1rem;
        width: 100%; } }
/* tab10 SMEV */
.tab10_cont .table_smev_row {
  display: flex;
  border-bottom: 1px solid #e6e6e6; }
  .tab10_cont .table_smev_row .td {
    padding: 1.4rem 1rem 1.4rem 1rem; }
    .tab10_cont .table_smev_row .td.td1 {
      padding-left: 2rem;
      width: 7.7%; }
    .tab10_cont .table_smev_row .td.td2 {
      width: 39.3%; }
    .tab10_cont .table_smev_row .td.td3 {
      width: 16.5%; }
    .tab10_cont .table_smev_row .td.td4 {
      width: 23.5%;
      padding: 1rem; }
    .tab10_cont .table_smev_row .td.td5 {
      padding-right: 2rem;
      width: 13%; }
      .tab10_cont .table_smev_row .td.td5 .downl_sources {
        display: flex;
        justify-content: end; }
        .tab10_cont .table_smev_row .td.td5 .downl_sources .a_ico:last-child {
          margin-left: 2.6rem; }
  .tab10_cont .table_smev_row.table_head {
    color: #41AE7C;
    border-bottom: 2px solid #d9d9d9; }
    .tab10_cont .table_smev_row.table_head .td.td4 {
      padding: 1.4rem 1rem 1.4rem 1rem; }

/* tab11 hystory of activity */
.tab11_cont .search_res_1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.2rem; }
  .tab11_cont .search_res_1 .search_ct {
    height: 3.6rem;
    width: 100%; }
  .tab11_cont .search_res_1 > div {
    padding: 0 1rem; }
    .tab11_cont .search_res_1 > div:last-child {
      padding-right: 0; }
    .tab11_cont .search_res_1 > div:first-child {
      padding-left: 0; }
.tab11_cont .tags_block {
  margin-bottom: 1rem;
  padding-top: 0; }
.tab11_cont .table_all_request .table_reg_row {
  display: flex;
  border-bottom: 1px solid #D9D9D9; }
  .tab11_cont .table_all_request .table_reg_row .td {
    padding: 2rem 1rem 1.3rem 1rem; }
    .tab11_cont .table_all_request .table_reg_row .td.td1 {
      width: 30.4%;
      font-weight: 500;
      padding-right: 2rem;
      padding-left: 2rem; }
      .tab11_cont .table_all_request .table_reg_row .td.td1 .sub_text {
        font-weight: 400;
        margin-top: .6rem; }
    .tab11_cont .table_all_request .table_reg_row .td.td2 {
      width: 18.4%;
      font-size: 1.2rem;
      line-height: 120%; }
    .tab11_cont .table_all_request .table_reg_row .td.td3 {
      width: 18%;
      font-size: 1.2rem;
      line-height: 120%; }
      .tab11_cont .table_all_request .table_reg_row .td.td3 .mail_text {
        padding-top: .6rem; }
    .tab11_cont .table_all_request .table_reg_row .td.td4 {
      width: 15%; }
    .tab11_cont .table_all_request .table_reg_row .td.td5 {
      width: 18%;
      font-size: 1.2rem;
      line-height: 120%; }
  .tab11_cont .table_all_request .table_reg_row.table_head {
    border-bottom: 2px solid #D9D9D9;
    margin-bottom: 2rem;
    font-weight: 500;
    color: #41AE7C;
    padding-bottom: 2rem; }
    .tab11_cont .table_all_request .table_reg_row.table_head .td {
      font-size: 1.3rem;
      padding: 0 1rem; }
      .tab11_cont .table_all_request .table_reg_row.table_head .td.td1 {
        padding-left: 2rem; }
.tab11_cont .tab3_2_cont h3 {
  margin-bottom: 2.5rem; }
.tab11_cont .table_get_support {
  margin-bottom: 7rem; }
  .tab11_cont .table_get_support .table_get_supp_row {
    display: flex;
    border-bottom: 1px solid #D9D9D9; }
    .tab11_cont .table_get_support .table_get_supp_row .td {
      padding: 1.4rem .5rem 1.4rem .5rem;
      font-size: 12px;
      line-height: 120%; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td1 {
        width: 11.2%;
        padding-left: 2rem;
        color: #41AE7C; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td2 {
        width: 12.2%; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td3 {
        width: 24.6%; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td4 {
        width: 22.6%; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td5 {
        width: 15.7%; }
      .tab11_cont .table_get_support .table_get_supp_row .td.td6 {
        width: 14%;
        text-align: end;
        padding-right: 2rem; }
    .tab11_cont .table_get_support .table_get_supp_row .sub_text {
      padding-top: .6rem;
      font-size: 1.3rem;
      font-weight: 500; }
    .tab11_cont .table_get_support .table_get_supp_row.table_head {
      color: #41AE7C; }
      .tab11_cont .table_get_support .table_get_supp_row.table_head .td {
        padding-top: 0;
        font-size: 1.3rem;
        padding-bottom: 2.3rem;
        padding-top: 0; }
.tab11_cont .div_filt {
  display: flex;
  margin-bottom: 3rem; }
  .tab11_cont .div_filt .dt {
    width: calc(33.333% - 1rem); }
    .tab11_cont .div_filt .dt input {
      height: 3.6rem; }
    .tab11_cont .div_filt .dt.dt2 {
      margin: 0 2rem; }
    .tab11_cont .div_filt .dt .input_datapicker {
      min-width: unset;
      width: 100%; }
.tab11_cont .find_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.4rem; }
.tab11_cont .div_block_mails .row_mail .div_head {
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
  align-items: center;
  border-bottom: 1px rgba(0, 0, 0, 0.15) solid; }
  .tab11_cont .div_block_mails .row_mail .div_head .dt2 {
    display: flex; }
    .tab11_cont .div_block_mails .row_mail .div_head .dt2 .div_stat {
      display: flex;
      align-items: center;
      margin-right: 2.4rem; }
      .tab11_cont .div_block_mails .row_mail .div_head .dt2 .div_stat svg.color_green {
        stroke: #41AE7C !important; }
      .tab11_cont .div_block_mails .row_mail .div_head .dt2 .div_stat .div_num {
        margin-left: .7rem; }
.tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem {
  display: flex;
  justify-content: space-between;
  padding: 1.3rem 2rem; }
  .tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem .div_sub_text {
    margin-top: .6rem; }
  .tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem .dt2 {
    display: flex;
    align-items: center; }
    .tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem .dt2 .div_data {
      min-width: 14rem; }
    .tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem .dt2 .div_tag {
      min-width: 13rem;
      margin-right: 3rem; }
    .tab11_cont .div_block_mails .row_mail .div_hide_block .div_elem .dt2 .div_data .active {
      color: #41AE7C; }
.tab11_cont .div_bnt {
  margin-top: 3.3rem; }
.tab11_cont .search_row.search_row2 {
  margin-bottom: 2rem; }
  .tab11_cont .search_row.search_row2 > div {
    padding: 0 1rem; }
  .tab11_cont .search_row.search_row2 > :first-child {
    padding-left: 0; }
  .tab11_cont .search_row.search_row2 > :last-child {
    padding-right: 0; }
  .tab11_cont .search_row.search_row2 .input_datapicker {
    width: 100%; }
  .tab11_cont .search_row.search_row2 .select_control {
    margin-right: 0; }
.tab11_cont .div_flex_filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.6rem;
  margin-bottom: 3rem; }
  .tab11_cont .div_flex_filter .search_ct input {
    height: 3.6rem; }
  .tab11_cont .div_flex_filter > div {
    padding: 0 1rem; }
  .tab11_cont .div_flex_filter > :first-child {
    padding-left: 0; }
  .tab11_cont .div_flex_filter > :last-child {
    padding-right: 0; }

/* tab12 last changes*/
.tab12_cont h2 .h2_text {
  font-size: 1.3rem; }
.tab12_cont .search_row {
  margin-bottom: 2.4rem; }
.tab12_cont .div_bnt {
  margin-top: 2rem; }
.tab12_cont .div_block_changes .row_changes {
  padding: 2rem 0 1rem 0;
  border-bottom: 1px solid #e6e6e6; }
  .tab12_cont .div_block_changes .row_changes:last-child {
    border: 0; }
  .tab12_cont .div_block_changes .row_changes .div_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem; }
  .tab12_cont .div_block_changes .row_changes .div_text {
    margin-bottom: 1rem; }
  .tab12_cont .div_block_changes .row_changes .ul_new {
    padding-left: 2rem; }

/*# sourceMappingURL=company_info.css.map */
