.header_company_info {
  .company_ct {
    margin-bottom: 2rem;
    display: flex;
  }
  .dt1 {
    margin-right: 3rem;
  }
  .div_ico {
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid rgba(56, 59, 74, 0.2);
    border-radius: 25rem;
    background-size: contain;
  }
  .company_name {
    font-size: 3.4rem;
    margin-bottom: 0.4rem;
    line-height: 120%;
  }
  .company_descr {
    margin-bottom: 1.6rem;
    opacity: 0.6;
    line-height: 120%;
  }
  .company_url {
    margin-bottom: 1.4rem;
    line-height: 120%;
  }
  .company_adress {
    margin-bottom: 1.2rem;
    line-height: 120%;
  }
  .a_under {
    border-bottom: 1px solid black;
  }
  .div_btn {
    margin-bottom: 2.2rem;
    .btn {
      padding: 0.6rem 1.9rem;
      line-height: 185%;
    }
  }
  .div_info {
    font-size: 1.2rem;
    opacity: 0.6;
  }
  .div_sub {
    opacity: 0.6;
    margin-bottom: 0.8rem;
    line-height: 120%;
  }
  .div_part {
    line-height: 120%;
  }
  .div_num {
    font-size: 2.4rem;
    line-height: 120%;
  }
  .num_ct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.block_info .dt_left {
  position: sticky;
  top: 1rem;
  height: 100%;
  .nav-tabs {
    padding: 3rem 0;
    background: #F8F8F9;
    flex-direction: column;
    border-bottom: 0;
    width: 23.1rem;
    .nav-link {
      padding: 1.3rem 2.0rem;
      color: #7C7C7D;
      position: relative;
      border: none;
      &.active {
        background: #E6F1ED;
        border: none;
        opacity: 1;
        color: #000;
        &:before {
          content: '';
          width: 0.2rem;
          top: 0;
          left: 0;
          height: 100%;
          background: #41AE7C;
          position: absolute;
        }
        &:hover {
          &:before {
            content: '';
            width: 0.2rem;
            top: 0;
            left: 0;
            height: 100%;
            background: #41AE7C;
            position: absolute;
          }
        }
      }
      &:hover {
        background: #E6F1ED;
        border: none;
      }
    }
  }
}
@media (max-width: 991px) {
  .block_info .dt_left {
    position: static;
  }
}
.block_info {
  padding-top: 4rem;
  .dt_right {
    padding-top: 3rem;
    .el_ct {
      margin-bottom: 4.5rem;
    }
    .div_ico {
      display: inline-flex;
      .div_txt {
        margin-right: 0.8rem;
      }
    }
    .div_type {
      display: inline-flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      span {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        opacity: 0.5;
      }
      .div_adress {
        font-weight: bold;
      }
    }
    .adr_ct {
      padding-bottom: 1.6rem;
      border-bottom: 1px solid #F8F8F8;
      margin-bottom: 1.6rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.row_info {
  .div_el {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 1.5rem;
    .div_info_name {
      opacity: 0.5;
      font-size: 1.2rem;
      line-height: 120%;
      max-width: 12.5rem;
      width: 100%;
      flex-shrink: 0;
    }
    .div_info_txt {
      font-weight: 500;
      // text-align: right;
      line-height: 120%;
    }
    .div_info_txt2 {
      font-weight: 500;
      line-height: 120%;
      .text_little {
        font-weight: normal;
        opacity: 0.5;
      }
      .div_text{
        margin-bottom: 1.5rem;
        font-weight: 500;
      }
    }
  }
}
.card_hide {
  display: none;
  margin-bottom: 2rem;
  color: #41AE7C;
}
.card_hider {
  .header_company_info {
    display: none;
  }
}
.card_show {
  display: none;
  color: #41AE7C;
}
.card_hider_body {
  .card_show {
    display: block;
  }
  .site_content {
    padding-top: 0;
    transform: translate(0px, 100px);
    transition: transform 0.3s ease;
  }
  .block_info {
    padding-top: 3rem;
  }
}
@media(max-width:991px) {
  .card_hide {
    display: block;
  }
}
.div_graf {
  height: 23.6rem;
  width: 100%;
  margin-bottom: 1.5rem;
}
.chart_ct {
  position: relative;
}
.div_graf_name {
  position: absolute;
  top: 2rem;
  font-weight: bold;
}
.chart_ct {
  position: relative;
  top: 3rem;
}
.chart_two {
  display: flex;
  .chart_wrap2 {
    height: 23.6rem;
    width: calc(50% - 2rem);
    position: relative;
    .div_graf2 {
      height: 100%;
    }
    &:first-child {
      margin-right: 4rem;
    }
  }
}
@media(max-width: 991px) {
  .chart_ct {
    flex-wrap: wrap;
    .div_graf2 {
      width: 100%;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
.div_graf_num {
  position: absolute;
  font-weight: 500;
}
.row_new {
  .col-lg-3,
  .col-lg-4,
  .col-lg-6 {
    padding: 0;
  }
  &.row_new_1{
    margin-top: 7rem;
  }
}
.search_row {
  display: flex;
  >:first-child {
    padding-left: 0;
  }
  >:last-child {
    padding-right: 0;
  }
}
.tab_block {
  .row_head {
    padding: 2rem;
    color: #41AE7C;
    border-bottom: 2px solid rgba(0,0,0,0.15);
  }
  .row_new {
    >div {
      text-align: right;
      padding: 0 0 0 1rem;
    }
    .col-first {
      text-align: left;
      padding: 0;
    }
  }
  .row_name {
    padding: 1.5rem;
    text-align: center;
    font-weight: 500;
  }
  .row_inner_head {
    background: #F8F8F9;
    padding: 1.5rem 2rem;
  }
  .row_inner {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
}
.tab2_cont {
  .row_info .div_el {
    justify-content: normal;
    .div_info_name {
      max-width: 16.6rem;
      margin-right: 1.6rem;
    }
  }
}

 /* tab Performance indicators data*/ 

.tab3_cont {
  .head_h2_right .div_right .a_hid{
    font-size: 1.3rem;
    color:#41AE7C ;
  }
  h2, h3 {
    width: 100%;
  }
  h3 {
    margin-bottom: 0.4rem;
  }
  .row_new + .row_new h3 {
    padding-top: 5.8rem;
  }
  .tab3_1_cont{
    .block_table{
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .row_inner{
      border: 0;
      padding: 1rem 2rem;
    }
    .row_inner2{
      padding: .4rem 2rem 1.6rem 2rem;
      font-size: 1.2rem;
      .col-first{
        padding-left: 2rem;
      }
    } 
    .row_inner_head_sub{
      padding-top: 1.6rem;
      padding-bottom: 1.6rem;
    }
    .row_head, .row_inner_head , .row_inner_head_sub{
      font-weight: 500;
    }
  }
  .tab3_3_cont{
    .row_inner_head, .row_head {
      font-weight: 500;
    }
    .border_none{
      border: unset;
    }
    .row_inner2{
      padding: .4rem 2rem 2rem 2rem;
      border-bottom: 0;
      font-size: 1.2rem;
      .col-first{
        padding-left: 2rem;
      }
    } 
  }
  .tab3_4_cont{
    .row_inner2{
      font-weight: 500;
    }
  }
}

@media(max-width:767px){
  .tab2_cont .row_info .div_el{
    flex-wrap: wrap;
    > div{
      width: 100%;
    }
    .div_info_name{
      margin-bottom: 2rem;
    }
  }
}

.span_h {
  .div_tit {
    opacity: 0.5;
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
  }
  span {
    opacity: 0.5;
    &:before {
      content: '.';
      padding: 0 0.5rem;
      vertical-align: super;
      line-height: 60%;
    }
  }
}

.modal {
  .modal-dialog {
    max-width: 600px;
    transform: translate(0, 50%) !important;
  }
  .modal-content {
    padding: 4rem 4.5rem;
  }
  .div_btns {
    text-align: center;
    padding-top: 2.5rem;
    font-size: 1.3rem;
    .btn-opacity {
      color: #000;
      border: 1px solid rgba(0, 0, 0, 0.15);
    }
  }
  button.close{
    position: absolute !important;
    right: 2rem;
    top: 2rem;
  }
}
.hidden_pane {
  display: none;
  text-align: center;
  padding-top: 3.4rem;
  .div_ico {
    margin-bottom: 3rem;
  }
  .div_txt {
    margin-bottom: 4rem;
    opacity: 0.5;
  }
}
.all_hidden {
  .hidden_pane {
    display: block;
  }
  .nav-tabs,
  .tab-content,
  .a_hid {
    display: none;
  }
}
.no_info {
  padding-top: 4rem;
  text-align: center;
  display: none;
  &.active {
    display: block;
    +.tab-content {
      display: none;
    }
  }
  .div_img {
    margin-bottom: 2.2rem;
  }
}

.contact_inform_content{ 
  margin-bottom: 6rem;
  .search_inf_cont{
      .search_ct{
        max-width: 40rem;
        margin-bottom: 3rem;
        input{
          padding: 0.5rem 1.8rem 0.5rem 5rem;
          line-height: 185%;
          height: 3.6rem;
      }
    }
  }
  .table_inform{
    .row_cont{
      padding: 1.5rem 0;
      border-bottom: 1px solid #e6e6e6;
      .td{
        display: flex;
        &.td1{
          .div_ico{
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: none;
            margin-right: 2rem;
            color: white;
            background: #EBF2F2;
            &.backg_grad{
              background: linear-gradient(346.19deg, #98F1C9 9.87%, #41AE7C 90.13%);
            }
            .div_img{
              font-size: 2.2rem;
              line-height: 120%;
            }
          }
          .div_user{   
            width: 42%;
            margin-right: 2rem;
            display: flex;
            align-items: center;
            align-self: baseline;
          }
          .div_phonemail{
            width: 29.4%;
            margin-right: 2rem;
          }
          .div_source{
            width: 23%;
          }
          .div_user, .div_phonemail,.div_source{
            .div_cont:last-child{
              margin-bottom: 0;
            }
          }
          .div_cont{
            margin-bottom: 2rem;
            &:first-child{
              margin-top: .7rem;
            }
            .name_cont{
              opacity: 0.6;
              margin-bottom: .7rem;                      
            }
            &.div_cont2{
              margin-bottom: 0;
              .name_cont{
                margin-bottom: 0;
              }
              .value_cont{
                  margin-bottom: .7rem;
              }
            }
          }
        }
      }
    }
  }
}

.tab4_cont{
  .search_row{
    margin-bottom: 3rem;
    .input_datapicker{
      width: 100%;
    }
  }
  h3{
    margin-bottom: 2.5rem;
  }
  .cont_table_city{
    margin-bottom: 7rem;
    .table_city_row{
      display: flex;
      font-weight: 500;
      .td{
        padding: 1.6rem .5rem 1.6rem .5rem;
        &.td1{
          width: 38.5%;
          padding-left: 2rem;
        }
        &.td2{
          width: 17%;
          text-align: center;
          padding-right: 7rem;
        }
        &.td3{
          width: 16%;
          text-align: center;
          padding-right: 7.5rem;
        }
        &.td4{
          width: 9%;
          text-align: center;
          padding-right: 1rem;
        }
        &.td5{
          width: 13.5%;
        }
        &.td6{
          width: 5.5%;
          padding-right: 2rem;
        }
      }
      &.table_head{
        border-bottom: 2px solid #d9d9d9;
        color: #41AE7C;
        font-weight: 500;
        .td{
          padding-top: 0;
          padding-bottom: 2rem;
          &.td2, &.td4, &.td3 {
            padding-left: .5rem;
            text-align: start; 
          }
        }
      }
      &.table_sub_row{
        .td{
          padding-top: 0;
          font-size: 1.2rem;
          line-height: 120%;
          &.td1{
            padding-left: 4rem;
            font-weight: 400;
          }
          &.td5{
            font-size: 1.3rem;
            line-height: 140%;
          }
        } 
      }
    }
  }
  .div_collapse{
    border-bottom: 1px solid #e6e6e6;
  }
}

.contact_comment_block{
  .h2_border{
    margin-bottom: 2rem;
  }
}
.contact_comment_content{
  .row_cont{
    padding: 2rem 0;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    &:hover{
      .div_head_flex .dt2{
        opacity: 1;
        transition: opacity .3s ease;
      }
    }
    .div_head_flex{
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .dt1{
        opacity: .5;
      }
      .dt2{
        color: #41AE7C;
        opacity: 0;
        transition: opacity .3s ease;
      }
    }
    .div_pen_file{
      margin-top: 1.3rem;
      display: flex;
      align-items: center;
      font-weight: 500;
      svg{
        margin-right: .8rem;
      }
    }
  }
}

.find_block {
  padding-top: 2.4rem;
  margin-bottom: 0.4rem;
}
.tags_block {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: -0.8rem;
  padding-top: 1.6rem;
  .div_tag {
    padding: 0.5rem 3.5rem 0.5rem 1.1rem;
    margin-right: 0.8rem;
    background: #F8F8F8;
    border-radius: 21px;
    position: relative;
    margin-bottom: 0.8rem;
    .close-btn {
      position: absolute;
      right: 1.1rem;
      top: 0.4rem;
    }
  }
  .div_reset{
    margin-bottom: 0.8rem;
    margin-right: 0.8rem;
    display: flex;
    align-items: center; 
    .close-btn{
      
      svg{
        margin-right: 1rem;
      }
    }
  }
}
.prod_ct {
  .prod_el {
    padding: 2rem 0;
    border-bottom: 1px solid #E5E5E5;
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      .div_name {
        color: #41AE7C;
      }
    }
  }
  .div_ico {
    width: 6.4rem;
    height: 6.4rem;
    border: 1px solid rgba(56, 59, 74, 0.2);
    border-radius: 25rem;
    background-size: contain;
    &.not_img {
      background: url('../img/nophoto.png') #F8F8F9 no-repeat center center;
      border: 0;
    }
  }
  .div_name {
    padding-top: 1.1rem;
    margin-bottom: 1rem;
  }
  .div_txt {
    opacity: 0.5;
  }
  .el_tag {
    justify-content: right;
  }
}

.tab5_cont .div_btn {
  padding-top: 1.4rem;
  .btn {
    width: 100%;
  }
}

.div_up_files .div_row{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  .div_img{
    margin-right: 2rem;
  }
  .div_stat_file{
    display: flex;
    flex-direction: column;
    .div_stat{
      display: flex;
      .dif_filesize{
        margin-right: 1.6rem;
      }
    }
  }
  .div_del_file{
    margin-left: auto;
  }
}



.modal_comment{
  .div_btns{
    .btn{
      margin: .7rem; 
    }
  }
}

.modal_accept_comment{
  .modal-content{
    text-align: center;
  }
}

.modal_smev_document{
  .select_ct{ 
    &::after{
      top: 1.4rem;
    }  
    .select_control{
      height: 4.6rem;
      line-height: 200%;
    }
  }
  .div_modal_row{
    margin-bottom: 2rem;
    max-width: 32rem;
    label{
      font-weight: 500;
    }
    input{
      font-size: 1.3rem;
      padding: .9rem 1.3rem;
      height: 4.6rem;
    }
    &.div_modal_row2{
      display: flex;
      max-width: unset;
      .dt{
        width: calc(50% - 1rem);
        &:first-child{
          margin-right: 2rem;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .contact_inform_block, .contact_comment_block{
    .head_h2_right{
      flex-wrap: wrap;
      h2{
        margin-bottom: 1rem;
      }
      .div_right.fl-none{
        flex: unset;
        flex-wrap: wrap;
        .btn:not(:last-child){
          margin-bottom: 1rem;
        }
      }
    }
  }
  .contact_inform_content .table_inform .row_cont .td.td1{
    flex-wrap: wrap;
    .div_user, .div_phonemail, .div_cont{
      width: 100%;
      margin: 0 0 2rem 0;
    }
  }
  .modal_comment, .modal_accept_comment{
    .modal-content{
      padding: 2rem;
    }
  }
}

/* Reglament tab */ 

.tab8_cont{
  .search_row{
    margin-bottom: 4rem;
  }
  .switch_category{
    margin: 1rem 0;
    display: flex;
    .div_elem{
      padding: 0.7rem 0 0.7rem 0;
      width: fit-content;
    }
    .border_backgr{
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2.2rem;
      padding: .7rem 1.1rem .7rem 1.2rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    .green_cat{
      color: #41AE7C;
      &:hover{
        color: #41AE7C;
      }
      &.active{
        background: #41AE7C;
        color: white;
        svg path{
          stroke: white;
        }
      }
    }
    .yellow_cat{
      color: #E49A2A;
      &:hover{
        color: #E49A2A;
      }
      &.active{
        background: #E49A2A;
        color: white;
        svg path{
          fill: white;
          &:first-child{
            fill: unset;
            stroke: white;
          }
        }
      }
    }
    .red_cat{
      color: #DD1717;
      &:hover{
        color: #DD1717;
      }
      &.active{
        background: #DD1717;
        color: white;
        svg path{
          stroke: white;
        }
      }
    }
  }
  .cont_table_reg{
    .a_ico{
      svg{
        margin-left: .6rem;
      }
    }
    .table_reg_row{
      display: flex;
      padding: 1.6rem 2rem 1.5rem 2.1rem;
      border-bottom: 1px solid #e6e6e6;
      &.table_head{
        border-bottom: 2px solid #d9d9d9;
        padding: 1.6rem 2rem 2rem 2.1rem;
        .td{
          color: #41AE7C;
        }
      }
      .td{
        width: 19rem;
        &.td1{
          margin-left: 2rem;
        }
        &.td4{
          text-align: end;
          .a_ico:last-child{
            margin-left: 3rem;
          }
        }
        &.td_last{
          width: 28.5rem;
          .downl_sources{
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
}

.a_ico{
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color .5s ease;
      &:hover{
        color: #41AE7C;
        transition: color .5s ease;
        cursor: pointer;
      }
  svg, img{
      margin-left: .8rem;
  }
}

@media (max-width: 767px) {
  .tab8_cont{
    .switch_category{
      flex-wrap: wrap;
      .div_elem{
        margin-bottom: 1rem;
      }
    }
    .search_row{
      flex-wrap: wrap;
      > :first-child{
        padding: 0; 
      }
      > :last-child{
        padding: 0;
      }
      .search_ct{
        height: 3.6rem;
        margin-bottom: 2rem;
      }
    }
    .cont_table_reg .table_reg_row{
      padding: 0 0 1rem 0;
      flex-wrap: wrap;
      &.table_head{
        display: none;
      }
      .td{
        width: 100%;
        padding: 2rem 0.6rem 0.6rem 0.6rem;
        position: relative;
        &::before{
          position: absolute;
          top: 0;
          opacity: .4;
        }
        &.td1{
          margin-left: 0;
          &::before{
            content: "Дата и время проверки";
          }
        }
        &.td2{
          &::before{
            content: "Источник";
          }
        }
        &.td3{
          &::before{
            content: "Результаты проверки";
          }
        }
        &.td_last{
          width: 100%;
        }
      }
    }
  }
}

/* Reglament info */ 

.header_reglament_info {
  &.site_content_top {
    padding: 12.5rem 0 3.6rem;
  }
  .flex_block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &:first-child{
      margin-bottom: 1rem;
    }
  }
  .el_tag {
    margin-bottom: 2rem;
  }
  .backspace_button {
    display: flex;
    margin-bottom: 1.2rem;
  }
  .cat_select{
    display: flex;
    align-items: center;
    .text_1{
      margin-right: 1.2rem;
    }
    .div_elem{
      padding: 0.7rem 0 0.7rem 0;
      width: fit-content;
    }
    .border_backgr{
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2.2rem;
      padding: .7rem 1.1rem .7rem 1.2rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    .green_cat{
      color: #41AE7C;
      &:hover{
        color: #41AE7C;
      }
      &.active{
        background: #41AE7C;
        color: white;
        svg path{
          stroke: white;
        }
      }
    }
    .yellow_cat{
      color: #E49A2A;
      &:hover{
        color: #E49A2A;
      }
      &.active{
        background: #E49A2A;
        color: white;
        svg path{
          fill: white;
          &:first-child{
            fill: unset;
            stroke: white;
          }
        }
      }
    }
    .red_cat{
      color: #DD1717;
      &:hover{
        color: #DD1717;
      }
      &.active{
        background: #DD1717;
        color: white;
        svg path{
          stroke: white;
        }
      }
    }
  }
}

.block_reglament_card.row_info .div_el {
  justify-content: normal;
  .div_info_name {
    max-width: 16.5rem;
    margin-right: 2.5rem;
  }
}

.block_reglament_card {
  hr{
    margin: 2rem 0;
  }
  .dt_left {
    padding-right: 3rem;
  }
  .div_img_big {
    max-height: 30rem;
    width: 100%;
    height: 100%;
    background-size: contain !important;
    background-position: 50% 50% !important;
  }
  .div_img_little {
    padding: 0 0.7rem;
    max-width: 6.4rem;
    width: 100%;
    background-size: contain !important;
    background-position: 50% 50% !important;
  }
  h2 {
    width: 100%;
  }
  .div_base_check, .div_base_check_2{
    margin-bottom: 6rem;
  }
  .div_nums {
    margin-bottom: 3rem;
    .div_txt {
      opacity: 0.5;
      font-size: 1.2rem;
      margin-bottom: 0.9rem;
    }
    .div_num {
      font-size: 2.4rem;
      line-height: 120%;
    }
  }
  .text_conet{
   .text_desc{
      display: flex;
      align-items: center;
      margin-bottom: 1.4rem;
      .ico{
        margin-right: .8rem;
      }
      .a_text{
        color:#41AE7C;
        border-bottom: 1px solid #41AE7C;
        display: inline;
      }
    }
  }
}

@media(max-width: 767px){
  .header_reglament_info .flex_block{
    flex-wrap: wrap;
    .cat_select{
      flex-wrap: wrap;
    }
  }
}

/* tab document */

.tab9_cont{
  .div_head_filter{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    .dt{
      width: calc(33% - 2rem);
      margin-right: 2rem;
      &.dt_last{
        width: 33%;
        margin-right: 0;
        margin-left: auto;
        width: fit-content;
      }
    }
  }
  .table_document{
    .div_row{
      display: flex; 
      border-bottom: 1px solid #e6e6e6;
      &.div_head{
        color: #41AE7C;
        border-bottom: 2px solid #d9d9d9;
        .td{
          &.td1{
            padding: 1.5rem 1rem 1.6rem 2rem;
            width: 33.4%;
          }
          &.td2{
            padding: 1.5rem 1rem 1.6rem 1rem;
            width: 20.3%;
          }
          &.td3{
            padding: 1.5rem 1rem 1.6rem 1rem;
            width: 20.6%;
          }
          &.td4{
            padding: 1.5rem 1rem 1.6rem 1rem;
            width: 14%;
          }
          &.td5{
            padding: 1.5rem 2rem 1.6rem 1rem;
            width: 10%;
          }
        } 
      }
      .td{
        &.td1{
          padding: 1.5rem 1rem 1.6rem 2rem;
          width: 33%;
        }
        &.td2{
          padding: 1.5rem 1rem 1.6rem 1rem;
          width: 29%;
        }
        &.td3{
          padding: 1.5rem 1rem 1.6rem 1rem;
          width: 12%;
        }
        &.td4{
          padding: 1.5rem 1rem 1.6rem 1rem;
          width: 14%;
        }
        &.td5{
          padding: 1.5rem 2rem 1.6rem 1rem;
          width: 10%;
        }
      }
    }
  }
}

@media(max-width:767px){
  .tab9_cont{
    .div_head_filter{
      flex-wrap: wrap;
      .dt{
        width: 100%;
        margin: 0 0 2rem 0;
      }
    }
    .table_document{
      .div_row{
        flex-wrap: wrap;
        &.div_head{
          display: none;
        }
        .td{
          position: relative;
          &::before{
            content:"";
            position: absolute;
            top: .5rem;
            left: 1rem;
            opacity: 0.5;
          }
          &.td1{
            padding: 2.5rem 1rem 1rem 1rem;
            width: 100%;
            &::before{
              content:"Документ";
            }
          }
          &.td2{
            padding: 2.5rem 1rem 1rem 1rem;
            width: 100%;
            &::before{
              content:"Тип";
            }
          }
          &.td3{
            padding: 2.5rem 1rem 1rem 1rem;
            width: 100%;
            &::before{
              content:"Размер файла, кБ";
            }
          }
          &.td4{
            padding: 2.5rem 1rem 1rem 1rem;
            width: 100%;
            &::before{
              content:"Дата загрузки";
            }
          }
          &.td5{
            padding: 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}


/* tab10 SMEV */

.tab10_cont{
  .table_smev_row{
    display: flex; 
    border-bottom: 1px solid #e6e6e6;
    .td{
      padding: 1.4rem 1rem 1.4rem 1rem;
      &.td1{
        padding-left: 2rem;
        width: 7.7%;
      }
      &.td2{
        width: 39.3%;
      }
      &.td3{
        width: 16.5%;
      }
      &.td4{
        width: 23.5%;
        padding: 1rem;
      }
      &.td5{
        padding-right: 2rem;
        width: 13%;
        .downl_sources{
          display: flex;
          justify-content: end;
          .a_ico:last-child{
            margin-left: 2.6rem;
          }
        }
      }
    }
    &.table_head{
      color: #41AE7C;
      border-bottom: 2px solid #d9d9d9;
      .td{
        &.td4{
          padding: 1.4rem 1rem 1.4rem 1rem;
        }
      }
    }
  }
}

/* tab11 hystory of activity */
.tab11_cont{
  .search_res_1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.2rem;
    .search_ct{
      height: 3.6rem;
      width: 100%;
    }
    > div {
      padding: 0 1rem;
      &:last-child{
        padding-right: 0;
      }
      &:first-child{
        padding-left: 0;
      }
    }
    // .dt2{
    //   .tag_oval{
    //     margin-left: .5rem;
    //     cursor: pointer;
    //   }
    // }
  }
  .tags_block{
    margin-bottom: 1rem;
    padding-top: 0;
  }
  .table_all_request{
    .table_reg_row{
      display: flex;
      border-bottom: 1px solid #D9D9D9;
      .td{
        padding: 2rem 1rem 1.3rem 1rem;
        &.td1{
          width: 30.4%;
          font-weight: 500;
          padding-right: 2rem;
          padding-left: 2rem;
          .sub_text{
            font-weight: 400;
            margin-top: .6rem;
          }
        }
        &.td2{
          width: 18.4%;
          font-size: 1.2rem;
          line-height: 120%;
        }
        &.td3{
          width: 18%; 
          font-size: 1.2rem;
          line-height: 120%;
          .mail_text{
            padding-top: .6rem;
          }
        }
        &.td4{
          width: 15%;
        }
        &.td5{
          width: 18%;
          font-size: 1.2rem;
          line-height: 120%;
          // padding-right: 2rem;
        }
      }
      &.table_head{
        border-bottom: 2px solid #D9D9D9;
        margin-bottom: 2rem;
        font-weight: 500;
        color: #41AE7C;
        padding-bottom: 2rem;
        .td{
          font-size: 1.3rem;
          padding: 0 1rem;
          &.td1{
              padding-left: 2rem;
          }
        }
      }
    }
  }
  .tab3_2_cont{
    h3{
      margin-bottom: 2.5rem;
    }
  }
  .table_get_support{
    margin-bottom: 7rem;
    .table_get_supp_row{
      display: flex;
      border-bottom: 1px solid #D9D9D9;
      .td{
        padding: 1.4rem .5rem 1.4rem .5rem;
        font-size: 12px;
        line-height: 120%;
        &.td1{
          width: 11.2%;
          padding-left: 2rem;
          color: #41AE7C;
        }
        &.td2{
          width: 12.2%;
        }
        &.td3{
          width: 24.6%;
        }
        &.td4{
          width: 22.6%;
        }
        &.td5{
          width: 15.7%;
        }
        &.td6{
          width: 14%;
          text-align: end;
          padding-right: 2rem;
        }
      }
      .sub_text{
        padding-top: .6rem;
        font-size: 1.3rem;
        font-weight: 500;
      }
      &.table_head{
        color: #41AE7C;
        .td{
          padding-top: 0;
          font-size: 1.3rem;
          padding-bottom: 2.3rem;
          padding-top: 0;
        }
      }
    }
  }
  .div_filt{
    display: flex;
    margin-bottom: 3rem;
    .dt{
      width: calc(33.333% - 1rem);
      input{
        height: 3.6rem;
      }
      &.dt2{
        margin: 0 2rem;
      }
      .input_datapicker{
        min-width: unset;
        width: 100%;
      }
    }
  }
  .find_block{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }
  .div_block_mails{
    .row_mail{
      .div_head{
        display: flex;
        justify-content: space-between;
        height: 4.4rem;
        align-items: center;
        border-bottom: 1px rgba(0, 0, 0, 0.15) solid;
        .dt2{
          display: flex;
          .div_stat{
            display: flex;
            align-items: center;
            margin-right: 2.4rem;
            svg{
              &.color_green{
                stroke: #41AE7C !important;
              }
            }
            .div_num{
              margin-left: .7rem;
            }
          }
        }
      }
      .div_hide_block .div_elem{
        display: flex;
        justify-content: space-between;
        padding: 1.3rem 2rem;
        .div_sub_text{
          margin-top: .6rem;
        }
        .dt2{
          display: flex;
          align-items: center;
          .div_data{
            min-width: 14rem;
          }
          .div_tag{
            min-width: 13rem;
            margin-right: 3rem;
          }
          .div_data{
            .active{
              color:#41AE7C;
            }
          }
        }
      }
    }
  }
  .div_bnt{
    margin-top: 3.3rem;
  }
  .search_row.search_row2{
    margin-bottom: 2rem;
    > div{
      padding: 0 1rem;
    }
    > :first-child{
      padding-left: 0;
    }
    > :last-child{
      padding-right: 0;
    }
    .input_datapicker{
      width: 100%;
    }
    .select_control{
      margin-right: 0;
    }
  }
  .div_flex_filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.6rem;
    margin-bottom: 3rem;
    .search_ct input{
      height: 3.6rem;
    }
    > div{
      padding: 0 1rem;
    }
    > :first-child{
      padding-left: 0;
    }
    > :last-child{
      padding-right: 0;
    }
  }
  
}

/* tab12 last changes*/

.tab12_cont{
  h2{
    .h2_text{
      font-size: 1.3rem;
    }
  }
  .search_row{
    margin-bottom: 2.4rem;
  }
  .div_bnt{
    margin-top: 2rem;
  }
  .div_block_changes{
    .row_changes{
      padding: 2rem 0 1rem 0;
      border-bottom: 1px solid #e6e6e6;
      &:last-child{
        border: 0;
      } 
      .div_head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
      }
      .div_text{
        margin-bottom: 1rem;
      }
      .ul_new{
        padding-left: 2rem;
      }
    }
  }
}
