@charset "UTF-8";
.main_body .container {
  padding-top: 5rem; }

.header_sub_cont .container {
  padding-top: 7rem; }

body {
  background: url("../img/backgr_dashbord.jpg") no-repeat;
  background-size: contain;
  -o-background-size: 100% 46.3rem;
  -webkit-background-size: 100% 46.3rem;
  -moz-background-size: 100% 46.3rem;
  background-size: 100% 46.3rem; }

.site_header {
  -o-background-size: 100% 46.3rem;
  -webkit-background-size: 100% 46.3rem;
  -moz-background-size: 100% 46.3rem;
  background-size: 100% 46.3rem; }

.a_ico {
  display: flex;
  align-items: center; }
  .a_ico svg {
    margin-left: .8rem; }

.div_sub_menu {
  padding: 1.2rem 0;
  display: flex; }
  .div_sub_menu .div_sub_el {
    opacity: 0.4;
    margin-right: 3.4rem;
    font-size: 1.2rem;
    line-height: 120%; }
    .div_sub_menu .div_sub_el:last-child {
      margin-right: 0; }
    .div_sub_menu .div_sub_el.active {
      opacity: 1;
      position: relative; }
      .div_sub_menu .div_sub_el.active::after {
        content: "";
        width: 100%;
        border-bottom: 2px solid #41AE7C;
        position: absolute;
        left: 0;
        bottom: -1.3rem; }
  .div_sub_menu .div_el_last {
    display: flex;
    margin-left: auto; }

.dashboard_head .top_dashb {
  margin-bottom: 4.8rem; }
  .dashboard_head .top_dashb .dt1 {
    margin-bottom: 2rem; }
  .dashboard_head .top_dashb .dt2 {
    display: flex;
    justify-content: space-between; }
    .dashboard_head .top_dashb .dt2 .custom-checkbox:not(:checked) + label::before {
      background: none; }
.dashboard_head .dropdown_dashbord {
  padding: 1.9rem;
  width: 26.9rem;
  font-size: 1.3rem;
  line-height: 120%;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.12);
  border-radius: 2px;
  max-height: 27rem;
  overflow-y: scroll; }
  .dashboard_head .dropdown_dashbord .custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0; }
  .dashboard_head .dropdown_dashbord .custom-checkbox + label {
    display: inline-flex;
    align-items: center;
    user-select: none; }
  .dashboard_head .dropdown_dashbord .custom-checkbox + label::before {
    content: '';
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.2rem;
    margin-right: .8rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 70% 70%; }
  .dashboard_head .dropdown_dashbord .custom-checkbox:checked + label::before {
    border-color: #41AE7C;
    background-color: #41AE7C;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }
  .dashboard_head .dropdown_dashbord > div {
    margin-bottom: 1.4rem;
    display: flex;
    align-items: flex-start; }
    .dashboard_head .dropdown_dashbord > div:last-child {
      margin-bottom: 0; }
    .dashboard_head .dropdown_dashbord > div label {
      margin-bottom: 0; }
    .dashboard_head .dropdown_dashbord > div input {
      margin-right: .8rem; }

.input_dash_date {
  border: 0;
  background-color: unset;
  min-width: 28rem;
  border: 1px solid #0000001e;
  border-radius: 0.3rem;
  padding: .6rem 1.4rem;
  font-size: 1.3rem;
  background-size: 1.8rem 1.8rem;
  background-position-y: center;
  background-position-x: calc(100% - 1.4rem); }

.statist_head {
  display: flex;
  margin-bottom: 4rem; }
  .statist_head .row .col-lg-4 {
    padding-left: 1rem;
    padding-right: 1rem; }
  .statist_head .div_el {
    margin-right: 10rem; }
    .statist_head .div_el .div_desc {
      color: #808080; }
    .statist_head .div_el .div_num {
      font-weight: 600;
      font-size: 50px;
      line-height: 120%;
      color: #41AE7C; }
  .statist_head .div_els {
    display: flex;
    justify-content: space-between;
    flex: 1; }
    .statist_head .div_els .elem .div_desc {
      color: #000;
      opacity: 0.6;
      margin-bottom: 1.7rem; }
    .statist_head .div_els .elem .num_el {
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 1rem; }

.sub_date {
  padding: .5rem 1.1rem;
  border-radius: 21px;
  width: fit-content; }
  .sub_date.sub_green {
    color: #41AE7C;
    background: rgba(65, 174, 124, 0.1); }
  .sub_date.sub_red {
    color: #DD1717;
    background: rgba(221, 23, 23, 0.1); }

.dashboard_table .table_head {
  display: flex;
  padding-bottom: 1.9rem;
  border-bottom: 2px #00000025 solid; }
  .dashboard_table .table_head .dt {
    color: #41AE7C;
    display: flex;
    padding: 0 1rem; }
    .dashboard_table .table_head .dt .filter_column {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 1rem;
      margin-left: .5rem; }
      .dashboard_table .table_head .dt .filter_column.top_active .top_filt path {
        opacity: 1; }
      .dashboard_table .table_head .dt .filter_column.bot_active .bot_filt path {
        opacity: 1; }
    .dashboard_table .table_head .dt.dt1 {
      width: 30.3%;
      padding-left: 1.5rem; }
    .dashboard_table .table_head .dt.dt2 {
      width: 14.8%; }
    .dashboard_table .table_head .dt.dt3 {
      width: 12.4%; }
    .dashboard_table .table_head .dt.dt4 {
      width: 16%; }
    .dashboard_table .table_head .dt.dt5 {
      width: 9.3%; }
    .dashboard_table .table_head .dt.dt6 {
      width: 13%; }
    .dashboard_table .table_head .dt.dt7 {
      width: 3.5%; }
.dashboard_table .table_row {
  display: flex;
  flex-wrap: wrap;
  padding: 2.7rem 0 2.5rem;
  border-bottom: 1px #00000025 solid; }
  .dashboard_table .table_row .dt {
    padding: 0 1rem 0 1.5rem; }
    .dashboard_table .table_row .dt .trend_img {
      margin-left: .4rem; }
    .dashboard_table .table_row .dt.dt1 {
      width: 33.6%;
      padding-left: 2rem; }
    .dashboard_table .table_row .dt.dt2 {
      width: 13.8%; }
    .dashboard_table .table_row .dt.dt3 {
      width: 13.4%; }
    .dashboard_table .table_row .dt.dt4 {
      width: 12.6%; }
    .dashboard_table .table_row .dt.dt5 {
      width: 11.3%; }
    .dashboard_table .table_row .dt.dt6 {
      width: 12%; }
    .dashboard_table .table_row .dt.dt7 {
      width: 1.5%;
      padding: 0; }
    .dashboard_table .table_row .dt.dt8 {
      width: 100%;
      padding: 0 2rem; }
    .dashboard_table .table_row .dt.dt_stats {
      display: flex;
      justify-content: flex-end; }
  .dashboard_table .table_row .collapse_text {
    padding-top: 2rem;
    text-align: start; }

.dashboard_graph {
  margin-bottom: 6rem; }
  .dashboard_graph .chart_ct {
    background-color: #fafafa;
    padding: 2.4rem 2.4rem 3rem 2.4rem;
    margin-bottom: 2rem; }
    .dashboard_graph .chart_ct .div_graf_num {
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 150%;
      margin-bottom: 2rem; }

.dashboard_graph_circle {
  margin-bottom: 2rem; }

.menu_mob_show .div_sub_menu {
  display: none; }

.header_sub_cont {
  border-bottom: 1px solid #ccc; }

@media (max-width: 991px) {
  body {
    background: unset; }

  .site_header {
    background: url("../img/backgr_dashbord.jpg") no-repeat;
    -o-background-size: 100% 46.3rem;
    -webkit-background-size: 100% 46.3rem;
    -moz-background-size: 100% 46.3rem;
    background-size: 100% 46.3rem; }

  .header_sub_cont {
    background: #fff;
    margin-top: 1px; }
    .header_sub_cont .container {
      padding: 0; }

  .statist_head {
    flex-wrap: wrap; }
    .statist_head .div_el {
      width: 100%;
      margin-right: 0;
      margin-bottom: 2rem; }

  .div_sub_menu {
    overflow: auto; }
    .div_sub_menu .elems, .div_sub_menu .div_el_last {
      flex: none; }
    .div_sub_menu .div_el_last {
      margin-left: 3.6rem; } }
@media (max-width: 767px) {
  .main_body .container {
    padding-top: 12rem; }

  .headet_sub_cont .container {
    padding: 0; }

  .statist_head .div_els {
    flex-wrap: wrap; }
    .statist_head .div_els .elem {
      width: 100%;
      margin-bottom: 2rem; }

  .top_dashb {
    flex-wrap: wrap; }
    .top_dashb .dt1 {
      margin-bottom: 2rem;
      width: 100%; }

  .dashboard_graph .chart_ct {
    padding: 1rem; }

  .dashboard_table .table_head {
    display: none; }
  .dashboard_table .dt {
    padding: 0 1rem; }
  .dashboard_table .table_row {
    flex-wrap: wrap; }
    .dashboard_table .table_row .dt {
      text-align: unset; }
  .dashboard_table .dt {
    width: 100%; }
    .dashboard_table .dt::before {
      content: '';
      width: 100%;
      display: block;
      color: #a7a7a7; }
  .dashboard_table .dt1::before {
    content: 'Отрасль'; }
  .dashboard_table .dt2 {
    width: 50%; }
    .dashboard_table .dt2::before {
      content: 'Выручка, млрд. ₽'; }
  .dashboard_table .dt3 {
    width: 50%; }
    .dashboard_table .dt3::before {
      content: 'Средний чек, ₽'; }
  .dashboard_table .dt4 {
    width: 50%; }
    .dashboard_table .dt4::before {
      content: 'Число МСП с ККТ'; }
  .dashboard_table .dt5 {
    width: 50%; }
    .dashboard_table .dt5::before {
      content: 'Число ККТ'; }
  .dashboard_table .dt6 {
    width: 90%; }
    .dashboard_table .dt6::before {
      content: 'Число платежей'; }
  .dashboard_table .dt7 {
    width: 10%; } }
.dashboard_head_2 .statist_head .row {
  width: 100%; }
.dashboard_head_2 .statist_head .div_els {
  margin-bottom: 4rem; }
  .dashboard_head_2 .statist_head .div_els .elem .div_text {
    display: flex; }
  .dashboard_head_2 .statist_head .div_els .elem .num_el {
    margin-bottom: 0;
    margin-right: 1rem; }
.dashboard_head_2 .statist_head .div_cont {
  background: #FAFAFA;
  padding: 2.4rem; }

.flex_stats {
  display: flex; }
  .flex_stats.flex_st_cent .dt {
    text-align: center; }
  .flex_stats.flex_st_cent .div_text {
    display: flex;
    justify-content: center; }
  .flex_stats .dt {
    width: 50%;
    margin-bottom: 2.4rem; }
    .flex_stats .dt .div_desc {
      color: #0000007c;
      margin-bottom: .4rem; }
    .flex_stats .dt .num_el {
      margin-bottom: 0; }
    .flex_stats .dt.dt1 .num_el {
      margin-right: 1.2rem;
      font-size: 1.8rem; }
    .flex_stats .dt.dt1 .div_desc {
      margin-bottom: .9rem; }
    .flex_stats .dt.dt1 .div_txt {
      display: flex;
      align-items: center; }
  .flex_stats.flex_stats100p {
    width: 100%; }
    .flex_stats.flex_stats100p .dt {
      width: 100%; }
  .flex_stats.flex_stats2 .dt {
    width: unset; }
    .flex_stats.flex_stats2 .dt:first-child {
      margin-right: 1rem; }

.head_h2 {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .head_h2 h2 {
    margin-bottom: 0; }
  .head_h2 .div_right {
    display: flex; }

.dashboard_graph_circle .head_stats2 .dt {
  text-align: center; }
  .dashboard_graph_circle .head_stats2 .dt .div_txt {
    justify-content: center; }

.h2_border .green_switch .dt {
  font-size: 1.3rem;
  padding: 1rem 1.8rem;
  border: 1px #41AE7C solid;
  color: #41AE7C; }
  .h2_border .green_switch .dt svg {
    fill: #41AE7C; }
  .h2_border .green_switch .dt.active {
    background-color: #41AE7C;
    color: white; }
    .h2_border .green_switch .dt.active svg {
      fill: white; }

.div_head_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 3rem; }
  .div_head_flex .dt1 {
    display: flex; }

.dashboard_bar {
  background-color: #FAFAFA;
  padding: 2.4rem;
  width: 100%;
  height: 100%; }
  .dashboard_bar .stats_bar {
    display: flex;
    align-items: baseline; }
    .dashboard_bar .stats_bar h3 {
      margin: 0 0.6rem 0 1.3rem; }

.wrap_nalog_msp .div_text_desc {
  font-size: 1.6rem;
  line-height: 140%;
  font-weight: 500;
  margin-bottom: 1rem; }
.wrap_nalog_msp .div_graf {
  background-color: #FAFAFA;
  padding: 2.4rem;
  margin-bottom: 2rem; }
  .wrap_nalog_msp .div_graf.dif_graf_bar {
    height: calc(100% - 2rem); }

.dashb_graph_tab .flex_stats .dt .div_text {
  display: flex; }
  .dashb_graph_tab .flex_stats .dt .div_text .sub_date {
    margin-left: 1rem; }

.select_ct {
  margin-right: 2rem; }

.tab-content {
  margin-bottom: 6rem; }

@media (max-width: 991px) {
  .main_body .container {
    padding-top: 2rem; }

  .dashboard_table .dt.dt_stats {
    flex-wrap: wrap;
    justify-content: unset; }

  .dashboard_head_2 .statist_head .div_cont {
    margin-bottom: 4rem; }
  .dashboard_head_2 .statist_head .div_els {
    margin-bottom: 2rem; }
    .dashboard_head_2 .statist_head .div_els .div_elem {
      margin-bottom: 0; }

  .head_h2 {
    flex-wrap: wrap; }
    .head_h2 h2 {
      margin-bottom: 2rem; }

  .div_head_flex .dt1 {
    flex-wrap: wrap; }
    .div_head_flex .dt1 .select_control, .div_head_flex .dt1 .input_dash_date {
      width: 100%;
      margin-bottom: 2rem;
      margin-right: 0; } }
.modal {
  border: 0; }
  .modal.modal600 .modal-content {
    width: 60rem;
    padding: 4rem 4.5rem 4rem 4.5rem;
    max-height: 65rem;
    overflow: scroll; }
    .modal.modal600 .modal-content .modal-body {
      padding: 0; }
    .modal.modal600 .modal-content .modal_btn_close {
      position: absolute;
      right: 1rem;
      top: 1rem;
      height: 2rem;
      width: 2rem;
      z-index: 1; }
    .modal.modal600 .modal-content .modal_tablet .row_tab {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem; }
      .modal.modal600 .modal-content .modal_tablet .row_tab:nth-child(-n+5) {
        font-weight: 600; }

.ui-datepicker-calendar {
  display: none; }

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none; }

.custom-checkbox + label::before {
  content: '';
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.2rem;
  margin-right: .8rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70% 70%; }

.custom-checkbox:checked + label::before {
  border-color: #41AE7C;
  background-color: #41AE7C;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }
@media(min-width:2900px) {
  .site_body.dark_theme {
    background-size: cover;
  }
}
@media(max-height:4776px) {
  .site_body.dark_theme {
    background-size: cover;
  }
}
.site_body.dark_theme {
  background: url(../../assets/img/dark_theme_background.svg);
  color: white; }
  .site_body.dark_theme::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(/assets/img/background_black_theme.svg) center center;
    background-size: 100% 120rem;
    background-repeat: repeat-y;
    opacity: .4;
    content: "";
    z-index: -1; }
  .site_body.dark_theme .site_header {
    background: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .site_body.dark_theme .pic_profile svg{
    fill: #FFFFFF;
  }
  .site_body.dark_theme .hc_dt3 path {
    stroke: #FFFFFF;
  }
    .site_body.dark_theme .site_header .menu_levl1 .menu_levl1_el {
      color: rgba(255, 255, 255, 0.5); }
      .site_body.dark_theme .site_header .menu_levl1 .menu_levl1_el.act {
        color: white; }
    .site_body.dark_theme .site_header .header_cont .logo_top .logo_top_text1 {
      color: white; }
    .site_body.dark_theme .site_header .header_cont .logo_top .logo_top_text2 {
      color: rgba(255, 255, 255, 0.6); }
    .site_body.dark_theme .site_header .header_cont .div_left {
      border-right: 1px solid rgba(255, 255, 255, 0.15); }
    .site_body.dark_theme .site_header .hc_dt2 {
      border-right: 1px solid rgba(255, 255, 255, 0.15);
      border-left: 1px solid rgba(255, 255, 255, 0.15); }
  .site_body.dark_theme .header_sub_cont {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
  .site_body.dark_theme .statist_head .div_el .div_num,
  .site_body.dark_theme .statist_head .div_els .elem .div_desc {
    color: white; }
  .site_body.dark_theme .statist_head .sub_date {
    color: white;
    background: rgba(255, 255, 255, 0.1); }
  .site_body.dark_theme .div_sub_menu .div_sub_el {
    color: rgba(255, 255, 255, 0.5); }
    .site_body.dark_theme .div_sub_menu .div_sub_el.active {
      color: white; }
  .site_body.dark_theme .input_dash_date {
    border: 1px solid #5C566B;
    color: #FFFFFF; }
  .site_body.dark_theme .dashboard_graph .chart_ct {
    background: rgba(196, 196, 196, 0.12); }
  .site_body.dark_theme .dashboard_table .table_head,
  .site_body.dark_theme .table_row {
    border-color: rgba(255, 255, 255, 0.2); }
  .site_body.dark_theme .site_footer {
    background: rgba(196, 196, 196, 0.12);
    box-shadow: inset 0px 0.798571px 10px rgba(227, 222, 255, 0.2); }
    .site_body.dark_theme .site_footer .footer_text {
      color: rgba(255, 255, 255, 0.6); }
    .site_body.dark_theme .site_footer .footer_scroll_top svg path {
      stroke: #fff;
      opacity: 1; }
  .site_body.dark_theme .btn {
    border-color: rgba(255, 255, 255, 0.12); }
  .site_body.dark_theme .nav-tabs_card .nav-item .nav-link {
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff; }
  .site_body.dark_theme .profit_ct .filter_tit .div_filt .filt_btn {
    color: #FFFFFF;
  }

.top_dashb_2 .dt1 {
  display: flex;
  justify-content: space-between; }

.btn_nght_mode {
  padding: 0;
  min-height: 3rem;
  min-width: 3rem; }

.block_no_data.block_no_data2 .img_no_data {
  margin-bottom: 2rem; }
.block_no_data.block_no_data2 .text_no_data {
  margin-bottom: 0; }

.top_wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  width: 100%; }
  .top_wrap .dt {
    display: flex;
    align-items: center;
    margin-bottom: 2rem; }
    .top_wrap .dt .div_name {
      opacity: 0.5;
      margin-right: 1.2rem; }
    .top_wrap .dt .nav-tabs_card {
      margin-bottom: 0; }
  .top_wrap .div_el {
    display: flex;
    align-items: center;
    margin-right: 2rem; }
    .top_wrap .div_el:last-child {
      margin-right: 0; }
  .top_wrap .input_dash_date {
    min-width: unset; }

.nav-tabs_card .nav-item .nav-link {
  padding: 1rem 1.8rem; }

.profit_ct {
  padding-bottom: 3.5rem;
  border-bottom: 1px solid #686473;
  margin-bottom: 2.5rem; }
  .profit_ct .div_name {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 150%;
    margin-bottom: 2rem; }
    .profit_ct .div_name.name_first {
      margin-bottom: 6rem; }
  .profit_ct .div_desc {
    font-size: 1.2rem;
    opacity: 0.5; }
  .profit_ct .div_els_ct {
    display: flex;
    align-items: end;
    height: calc(100% - 4.4rem); }
.profit_ct .div_els {
  width: 100%;
}
.profit_ct .div_els .num_el {
    font-size: 1.8rem; }
    .profit_ct .div_els .num_el.num_lil {
      font-size: 1.3rem;
      margin-right: 0.8rem; }
  .profit_ct .div_tit {
    margin-bottom: 2.5rem;
    font-weight: 500; }
  .profit_ct .elem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    align-items: baseline; }
    .profit_ct .elem:last-child {
      margin-bottom: 0; }
  .profit_ct .filter_tit {
    padding-left: 7rem;
    display: flex;
    justify-content: space-between; }
    .profit_ct .filter_tit .div_filt .filt_btn {
      cursor: pointer; }
      .profit_ct .filter_tit .div_filt .filt_btn:first-child {
        margin-right: 2rem; }
      .profit_ct .filter_tit .div_filt .filt_btn.active {
        border-bottom: 2px solid #1ACE7B; }
  .profit_ct .second-tab .div_els {
    width: 50%; }
    .profit_ct .second-tab .div_els:first-child {
      padding: 0 5rem;
      margin-left: 2.5rem;
      border-left: 1px solid #686473; }
  .profit_ct .nums_el {
    display: inherit;
    align-items: center; }

.graph_ct .tit_ct {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.btns_ct {
  display: flex; }

.btn-graph {
  border-radius: 2px;
  width: 3.6rem;
  height: 3.6rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;
  position: relative; }
  .btn-graph.graph-border-right:after {
    content: '';
    position: absolute;
    right: -1.5rem;
    top: 1.1rem;
    height: 1.4rem;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    pointer-events: none; }
  .btn-graph:hover {
    background: #1ACE7B;
    cursor: pointer; }

.tooltip_new {
  position: relative; }

.tooltip_new .tooltiptext {
  visibility: hidden;
  background-color: rgba(196, 196, 196, 0.12);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  backdrop-filter: blur(100px);
  font-size: 1rem;
  line-height: 120%;
  padding: 1rem;
  position: absolute;
  pointer-events: none;
  z-index: 1;
  right: -3.6rem;
  bottom: -5.2rem;
  width: 10rem; }

.bubble {
  background: rgba(196, 196, 196, 0.01);
  border-radius: 300px;
  backdrop-filter: blur(4px); }

.bubble_1,
.bubble_2,
.bubble_3 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #92FF8F, inset 0px 78.26px 79.8571px -38.3314px rgba(146, 255, 143, 0.3), inset 0px 3.19429px 14.3743px rgba(146, 255, 143, 0.3), inset 0px 0.798571px 31.9429px rgba(146, 255, 143, 0.2); }

.bubble_5,
.bubble_6,
.bubble_7,
.bubble_8,
.bubble_9 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.2), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(233, 107, 16, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(240, 126, 44, 0.3), inset 0px 3.19429px 14.3743px rgba(225, 138, 75, 0.3), inset 0px 0.798571px 31.9429px rgba(233, 107, 16, 0.2); }

.bubble_10-33 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.2), inset 0px -65.4829px 54.3029px -51.1086px #9E0F0F, inset 0px 78.26px 79.8571px -38.3314px rgba(158, 15, 15, 0.3), inset 0px 3.19429px 14.3743px rgba(158, 15, 15, 0.3), inset 0px 0.798571px 31.9429px rgba(158, 15, 15, 0.2); }

.bubble_35 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.2), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(243, 221, 15, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(252, 233, 60, 0.3), inset 0px 3.19429px 14.3743px rgba(252, 233, 60, 0.3), inset 0px 0.798571px 31.9429px rgba(252, 233, 60, 0.2); }

.bubble_36,
.bubble_37,
.bubble_38,
.bubble_39 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.2), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(30, 52, 255, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(172, 195, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(167, 181, 251, 0.3), inset 0px 0.798571px 31.9429px rgba(158, 168, 255, 0.2); }

.bubble_41,
.bubble_42,
.bubble_43 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(213, 43, 32, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(231, 77, 67, 0.3), inset 0px 3.19429px 14.3743px rgba(231, 77, 67, 0.3), inset 0px 0.798571px 31.9429px rgba(231, 77, 67, 0.2); }

.bubble_45 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #A7816C, inset 0px 78.26px 79.8571px -38.3314px rgba(167, 129, 108, 0.3), inset 0px 3.19429px 14.3743px rgba(167, 129, 108, 0.3), inset 0px 0.798571px 31.9429px rgba(167, 129, 108, 0.2); }

.bubble_46 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #DA8CFF, inset 0px 78.26px 79.8571px -38.3314px rgba(218, 140, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(218, 140, 255, 0.3), inset 0px 0.798571px 31.9429px rgba(218, 140, 255, 0.2); }

.bubble_47 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #92FF8F, inset 0px 78.26px 79.8571px -38.3314px rgba(146, 255, 143, 0.3), inset 0px 3.19429px 14.3743px rgba(146, 255, 143, 0.3), inset 0px 0.798571px 31.9429px rgba(146, 255, 143, 0.2); }

.bubble_49,
.bubble_50,
.bubble_51,
.bubble_52,
.bubble_53 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #8C72C6, inset 0px 78.26px 79.8571px -38.3314px rgba(140, 114, 198, 0.3), inset 0px 3.19429px 14.3743px rgba(140, 114, 198, 0.3), inset 0px 0.798571px 31.9429px rgba(140, 114, 198, 0.2); }

.bubble_55 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #F431BE, inset 0px 78.26px 79.8571px -38.3314px rgba(252, 77, 203, 0.3), inset 0px 3.19429px 14.3743px rgba(235, 94, 195, 0.3), inset 0px 0.798571px 31.9429px rgba(226, 142, 203, 0.2); }

.bubble_56 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #759CFF, inset 0px 78.26px 79.8571px -38.3314px rgba(117, 156, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(117, 156, 255, 0.3), inset 0px 0.798571px 31.9429px rgba(117, 156, 255, 0.2); }

.bubble_58 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(133, 174, 65, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(147, 191, 73, 0.3), inset 0px 3.19429px 14.3743px rgba(174, 221, 96, 0.3), inset 0px 0.798571px 31.9429px rgba(188, 216, 143, 0.2); }

.bubble_59,
.bubble_60,
.bubble_61 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #76F7FF, inset 0px 78.26px 79.8571px -38.3314px rgba(158, 246, 252, 0.3), inset 0px 3.19429px 14.3743px rgba(137, 232, 238, 0.3), inset 0px 0.798571px 31.9429px rgba(198, 252, 255, 0.2); }

.bubble_62,
.bubble_63 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #528D8B, inset 0px 78.26px 79.8571px -38.3314px rgba(82, 141, 139, 0.3), inset 0px 3.19429px 14.3743px rgba(82, 141, 139, 0.3), inset 0px 0.798571px 31.9429px rgba(82, 141, 139, 0.2); }

.bubble_64,
.bubble_65,
.bubble_66 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #AA29D7, inset 0px 78.26px 79.8571px -38.3314px rgba(102, 70, 185, 0.3), inset 0px 3.19429px 14.3743px rgba(102, 70, 185, 0.3), inset 0px 0.798571px 31.9429px rgba(102, 70, 185, 0.2); }

.bubble_68 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #F4E02A, inset 0px 78.26px 79.8571px -38.3314px rgba(244, 224, 42, 0.3), inset 0px 3.19429px 14.3743px rgba(244, 224, 42, 0.3), inset 0px 0.798571px 31.9429px rgba(244, 224, 42, 0.2); }

.bubble_69,
.bubble_70,
.bubble_73,
.bubble_74,
.bubble_75 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #244FF5, inset 0px 78.26px 79.8571px -38.3314px rgba(36, 79, 245, 0.3), inset 0px 3.19429px 14.3743px rgba(36, 79, 245, 0.3), inset 0px 0.798571px 31.9429px rgba(36, 79, 245, 0.2); }

.bubble_71 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #FFAD32, inset 0px 78.26px 79.8571px -38.3314px rgba(255, 200, 118, 0.3), inset 0px 3.19429px 14.3743px rgba(255, 200, 118, 0.3), inset 0px 0.798571px 31.9429px rgba(255, 200, 118, 0.2); }

.bubble_72 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px rgba(28, 173, 236, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(28, 173, 236, 0.3), inset 0px 3.19429px 14.3743px rgba(28, 173, 236, 0.3), inset 0px 0.798571px 31.9429px rgba(227, 222, 255, 0.2); }

.bubble_77,
.bubble_78,
.bubble_79,
.bubble_80,
.bubble_81,
.bubble_82 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #EB4A52, inset 0px 78.26px 79.8571px -38.3314px rgba(235, 74, 82, 0.3), inset 0px 3.19429px 14.3743px rgba(235, 74, 82, 0.3), inset 0px 0.798571px 31.9429px rgba(235, 74, 82, 0.2); }

.bubble_85 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #105824, inset 0px 78.26px 79.8571px -38.3314px rgba(16, 88, 36, 0.3), inset 0px 3.19429px 14.3743px rgba(16, 88, 36, 0.3), inset 0px 0.798571px 31.9429px rgba(16, 88, 36, 0.2); }

.bubble_86,
.bubble_87,
.bubble_88 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #4656E4, inset 0px 78.26px 79.8571px -38.3314px rgba(70, 86, 228, 0.3), inset 0px 3.19429px 14.3743px rgba(70, 86, 228, 0.3), inset 0px 0.798571px 31.9429px rgba(70, 86, 228, 0.2); }

.bubble_90,
.bubble_91,
.bubble_92,
.bubble_93 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #F4C790, inset 0px 78.26px 79.8571px -38.3314px rgba(244, 199, 144, 0.3), inset 0px 3.19429px 14.3743px rgba(244, 199, 144, 0.3), inset 0px 0.798571px 31.9429px rgba(244, 199, 144, 0.2); }

.bubble_94,
.bubble_95,
.bubble_96 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.3), inset 0px 5.59px 8.78429px -3.19429px rgba(255, 255, 255, 0.5), inset 0px -65.4829px 54.3029px -51.1086px #FFFFFF, inset 0px 78.26px 79.8571px -38.3314px rgba(255, 255, 255, 0.3), inset 0px 3.19429px 14.3743px rgba(255, 255, 255, 0.3), inset 0px 0.798571px 31.9429px rgba(255, 255, 255, 0.2); }

.bubble_84,
.bubble_97,
.bubble_98,
.bubble_99 {
  box-shadow: inset 0px 31.1443px 44.72px -28.7486px rgba(255, 255, 255, 0.5), inset 0px 5.59px 8.78429px -3.19429px #FFFFFF, inset 0px -65.4829px 54.3029px -51.1086px rgba(236, 231, 231, 0.3), inset 0px 78.26px 79.8571px -38.3314px rgba(217, 213, 225, 0.3), inset 0px 3.19429px 14.3743px rgba(182, 181, 189, 0.3), inset 0px 0.798571px 31.9429px rgba(200, 200, 200, 0.2); }

.graph_timeline {
  display: flex;
  margin-bottom: 4rem; }
  .graph_timeline .btn-graph {
    margin-right: 2rem;
    margin-top: -1.4rem; }
  .graph_timeline .timeline {
    width: calc(100% - 5.6rem); }
    .graph_timeline .timeline .options {
      width: 100%;
      border-radius: 1em;
      padding: 0 0 1em 0;
      display: flex;
      flex-direction: column; }
    .graph_timeline .timeline .ticks {
      display: flex; }
    .graph_timeline .timeline .tick_tit {
      flex: 1;
      text-align: left; }
      .graph_timeline .timeline .tick_tit:last-child {
        text-align: right; }
    .graph_timeline .timeline input[type='range'] {
      width: 100%;
      -webkit-appearance: none;
      background-color: #4B4857;
      height: 5px;
      overflow: visible;
      margin-bottom: 1.7rem;
      cursor: ew-resize; }
    .graph_timeline .timeline input[type='range']::-webkit-slider-runnable-track {
      height: 16px;
      -webkit-appearance: none; }
    .graph_timeline .timeline input[type='range']::-webkit-slider-thumb {
      width: 16px;
      -webkit-appearance: none;
      height: 16px;
      border-radius: 100%;
      background: #1ACE7B;
      opacity: 1;
      z-index: 1;
      margin-top: -8px; }

.graph_list .col_el {
  display: inline-flex;
  align-items: center; }
  .graph_list .col_el .el_ico {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 0.8rem; }

.tooltip_new:hover .tooltiptext {
  visibility: visible; }

.tab-outer-content .nav_ct {
  padding-top: 0; }
.tab-outer-content .nav_ul {
  position: absolute;
  right: 0;
  top: 5rem;
  z-index: 1;
  margin: 0 auto; }

/*# sourceMappingURL=dashboards.css.map */
