
@font-face {
  font-family: 'Octosuqare';
  src: url("../fonts/Octosuqare/TTOctosquares-DBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Octosuqare';
  src: url("../fonts/Octosuqare/TTOctosquares-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-DemiBold.ttf') format('truetype');
  font-weight: 601;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-BlackItalic.ttf') format('truetype');
  font-weight: 901;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-BoldItalic.ttf') format('truetype'), url('../fonts/TTFirs/TTFirsNeue-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 701;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-DemiBoldItalic.ttf') format('truetype');
  font-weight: 601;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-ExtraBold.ttf') format('truetype'), url('../fonts/TTFirs/TTFirsNeue-Bold.ttf') format('truetype');
  font-weight: 701;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-MediumItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-MediumItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;

}
@font-face {
  font-family: 'TTFirs';
  src: url('../fonts/TTFirs/TTFirsNeue-Black.ttf') format('truetype');
  font-weight: 901;
  font-style: normal;

}
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-SemiBold.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-Bold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-ExtraBold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Akrobat';
  src: url('../fonts/Akrobat/Akrobat-Black.otf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
  url(../fonts/MaterialIcons-Regular.woff) format('woff'),
  url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 2.4rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
