
/*********** header_search ***********/
.header_search {
  form {
    display: flex;
    align-items: center;
  }
  .container_top {
    display: block;
    padding-top: 4rem;
    padding-bottom: 9.2rem;
  }
  .header_search_form {
    position: relative;
    border-bottom: 1px solid #D8D8D8;
    .btn {
      font-weight: normal;
      margin-right: 1.4rem;
      height: 4.6rem;
      font-size: 1.3rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .form-control,
  .form-control:focus {
    border: none;
    font-weight: 500;
    font-size: 3rem;
    height: auto;
    line-height: 110%;
    padding: 2.4rem 10rem 2.4rem 0rem;
    box-shadow: none;
    background: none;
    &:placeholder {
      color: #000000;
      opacity: 0.5;
    }
  }
  .header_search_result {
    overflow-y: auto;
    > * {
      transition: all 0.1s ease;
      transform: translateY(-100%);
      opacity: 0;
    }
    > *:nth-child(2){
      -webkit-transition-delay: 0.1s;
      -o-transition-delay: 0.1s;
      -moz-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
    > *:nth-child(3){
      -webkit-transition-delay: 0.15s;
      -o-transition-delay: 0.15s;
      -moz-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    > *:nth-child(4){
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      -moz-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    > *:nth-child(5){
      -webkit-transition-delay: 0.25s;
      -o-transition-delay: 0.25s;
      -moz-transition-delay: 0.25s;
      transition-delay: 0.25s;
    }
    > *:nth-child(6){
      -webkit-transition-delay: 0.3s;
      -o-transition-delay: 0.3s;
      -moz-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }
    > *:nth-child(7){
      -webkit-transition-delay: 0.35s;
      -o-transition-delay: 0.35s;
      -moz-transition-delay: 0.35s;
      transition-delay: 0.35s;
    }
    .hsr_tit {
      opacity: 0.5 !important;
      margin-bottom: 2.5rem;
      font-weight: 500;
    }
    .hsr_el {
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 120%;
      margin-bottom: 2.4rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
/*********** /header_search ***********/

.block_main1 {
  .dt {
    min-height: 30.2rem;
    background: #F8F8F8;
    margin-bottom: 2rem;
    position: relative;
    .div_cont {
      padding: 3.4rem 4rem 4.5rem;
    }
    .div_tit {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 2.2rem;
    }
    .div_el {
      margin-bottom: 2.2rem;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .div_bottom {
      padding: 1.6rem 3rem 1.8rem;
      text-align: center;
      font-size: 1.4rem;
      border-top: 1px solid #ccc;
    }
    .pos_rel {
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      width: 7rem;
      height: 7rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &:nth-child(3n){
      margin-right: 0;
    }
    &.dt1 {
      height: 25rem;
      background: url('../img/header_main_block1.jpg') no-repeat;
      background-size: cover;
      color: #fff;
      a {
        color: #fff;
      }
    }
    &.dt2 {
      height: 25rem;
      background: url('../img/header_main_block2.jpg') no-repeat;
      background-size: cover;
      color: #fff;
      display: flex;
      .dt_left {
        width: 50%;
      }
      .dt_right {
        .div_el {
          margin-bottom: 0.9rem;
        }
      }
      a {
        color: #fff;
      }
      .div_el2 {
        margin-bottom: 2.3rem;
      }
      .div_mon1 {
        font-size: 2.4rem;
        font-weight: 600;
        vertical-align: middle;
        line-height: 120%;
        white-space: nowrap;
      }
      .div_mon2 {
        white-space: nowrap;
        color: #41AE7C;
        background: #fff;
        padding: 0.5rem 1.1rem;
        border-radius: 2.1rem;
      }
    }
    @media(max-width: 991px) {
      &.dt2 {
        height: auto;
        flex-wrap: wrap;
        .dt_left {
          width: 100%;
        }
        .dt_right {
          width: 100%;
        }
        .div_mon1,
        .div_mon2 {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
}
.block_main2 {
  .div_el {
    padding-bottom: 2rem;
    border-bottom: 1px solid #c8c8c8;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
    .div_subtit {
      opacity: 0.5;
    }
    .dt_left {
      width: 75%;
    }
  }
}
.block_main3 {
  .div_el {
    background: #F8F8F8 url('../img/news.png') no-repeat center right 2.5rem;
    padding: 3rem 4rem;
    min-height: 12.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
    .div_tit {
      font-weight: bold;
    }
    .div_txt {
      opacity: 0.5;
    }
  }
}
.block_main4 {
  .div_el {
    background: #f8f8f8;
    padding: 3rem 3rem 2.4rem;
    min-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
}
.choice_block {
  position: sticky;
  bottom: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  .div_txt {
    opacity: 0.6;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .dt {
    background: #000;
    color: #fff;
    max-width: 1108px;
    padding: 1rem 1.6rem 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    .btns_block {
      display: flex;
      flex-wrap: wrap;
      .btn {
        margin-right: 2rem;
        margin-bottom: 1.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
      .btn-black {
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: none;
        color: #fff;
      }
      .btn-white {
        background: #fff;
      }
    }
  }
}

/*********** /Work_in_progress ***********/

.block_work_progress{
  padding-top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .div_img img{
    max-width: 100%;
  }
  .div_desc{
    font-size: 16px;
    line-height: 150%;
    opacity: .5;
    margin-bottom: 4rem;
    text-align: center;
  }
}  

.navbar_search_res{
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  .btn_arrow{
    min-height: unset;
    height: 3.8rem;
    width: 3.8rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  .btns_numb{
    .btn{
      height: 3.8rem;
      min-height: unset;
      padding: 0 1.6rem;
      display: flex;
      align-items: center;  
      margin: 0 .5rem;
    }
    .nav-link{
      &.active{
        background: #41AE7C;
        color: white;
      }
    }
  }
}