/*********** header_search ***********/
.header_search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_search .container_top {
  display: block;
  padding-top: 4rem;
  padding-bottom: 9.2rem;
}

.header_search .header_search_form {
  position: relative;
  border-bottom: 1px solid #D8D8D8;
}

.header_search .header_search_form .btn {
  font-weight: normal;
  margin-right: 1.4rem;
  height: 4.6rem;
  font-size: 1.3rem;
}

.header_search .header_search_form .btn:last-child {
  margin-right: 0;
}

.header_search .form-control,
.header_search .form-control:focus {
  border: none;
  font-weight: 500;
  font-size: 3rem;
  height: auto;
  line-height: 110%;
  padding: 2.4rem 10rem 2.4rem 0rem;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.header_search .form-control:placeholder,
.header_search .form-control:focus:placeholder {
  color: #000000;
  opacity: 0.5;
}

.header_search .header_search_result {
  overflow-y: auto;
}

.header_search .header_search_result > * {
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
}

.header_search .header_search_result > *:nth-child(2) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.header_search .header_search_result > *:nth-child(3) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.header_search .header_search_result > *:nth-child(4) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.header_search .header_search_result > *:nth-child(5) {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.header_search .header_search_result > *:nth-child(6) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.header_search .header_search_result > *:nth-child(7) {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}

.header_search .header_search_result .hsr_tit {
  opacity: 0.5 !important;
  margin-bottom: 2.5rem;
  font-weight: 500;
}

.header_search .header_search_result .hsr_el {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 120%;
  margin-bottom: 2.4rem;
}

.header_search .header_search_result .hsr_el:last-child {
  margin-bottom: 0;
}

/*********** /header_search ***********/
.block_main1 .dt {
  min-height: 30.2rem;
  background: #F8F8F8;
  margin-bottom: 2rem;
  position: relative;
}

.block_main1 .dt .div_cont {
  padding: 3.4rem 4rem 4.5rem;
}

.block_main1 .dt .div_tit {
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 2.2rem;
}

.block_main1 .dt .div_el {
  margin-bottom: 2.2rem;
}

.block_main1 .dt .div_el:last-child {
  margin-bottom: 0;
}

.block_main1 .dt .div_bottom {
  padding: 1.6rem 3rem 1.8rem;
  text-align: center;
  font-size: 1.4rem;
  border-top: 1px solid #ccc;
}

.block_main1 .dt .pos_rel {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 7rem;
  height: 7rem;
}

.block_main1 .dt .pos_rel img {
  width: 100%;
  height: 100%;
}

.block_main1 .dt:nth-child(3n) {
  margin-right: 0;
}

.block_main1 .dt.dt1 {
  height: 25rem;
  background: url("../img/header_main_block1.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.block_main1 .dt.dt1 a {
  color: #fff;
}

.block_main1 .dt.dt2 {
  height: 25rem;
  background: url("../img/header_main_block2.jpg") no-repeat;
  background-size: cover;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block_main1 .dt.dt2 .dt_left {
  width: 50%;
}

.block_main1 .dt.dt2 .dt_right .div_el {
  margin-bottom: 0.9rem;
}

.block_main1 .dt.dt2 a {
  color: #fff;
}

.block_main1 .dt.dt2 .div_el2 {
  margin-bottom: 2.3rem;
}

.block_main1 .dt.dt2 .div_mon1 {
  font-size: 2.4rem;
  font-weight: 600;
  vertical-align: middle;
  line-height: 120%;
  white-space: nowrap;
}

.block_main1 .dt.dt2 .div_mon2 {
  white-space: nowrap;
  color: #41AE7C;
  background: #fff;
  padding: 0.5rem 1.1rem;
  border-radius: 2.1rem;
}

@media (max-width: 991px) {
  .block_main1 .dt.dt2 {
    height: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block_main1 .dt.dt2 .dt_left {
    width: 100%;
  }
  .block_main1 .dt.dt2 .dt_right {
    width: 100%;
  }
  .block_main1 .dt.dt2 .div_mon1,
  .block_main1 .dt.dt2 .div_mon2 {
    margin-bottom: 1.5rem;
  }
}

.block_main2 .div_el {
  padding-bottom: 2rem;
  border-bottom: 1px solid #c8c8c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.block_main2 .div_el:last-child {
  margin-bottom: 0;
}

.block_main2 .div_el .div_subtit {
  opacity: 0.5;
}

.block_main2 .div_el .dt_left {
  width: 75%;
}

.block_main3 .div_el {
  background: #F8F8F8 url("../img/news.png") no-repeat center right 2.5rem;
  padding: 3rem 4rem;
  min-height: 12.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.block_main3 .div_el .div_tit {
  font-weight: bold;
}

.block_main3 .div_el .div_txt {
  opacity: 0.5;
}

.block_main4 .div_el {
  background: #f8f8f8;
  padding: 3rem 3rem 2.4rem;
  min-height: 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
}

.choice_block {
  position: -webkit-sticky;
  position: sticky;
  bottom: 1.6rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.choice_block .div_txt {
  opacity: 0.6;
  margin-bottom: 1rem;
  font-weight: bold;
}

.choice_block .dt {
  background: #000;
  color: #fff;
  max-width: 1108px;
  padding: 1rem 1.6rem 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}

.choice_block .dt .btns_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice_block .dt .btns_block .btn {
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}

.choice_block .dt .btns_block .btn:last-child {
  margin-right: 0;
}

.choice_block .dt .btns_block .btn-black {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: none;
  color: #fff;
}

.choice_block .dt .btns_block .btn-white {
  background: #fff;
}

/*********** /Work_in_progress ***********/
.block_work_progress {
  padding-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_work_progress .div_img img {
  max-width: 100%;
}

.block_work_progress .div_desc {
  font-size: 16px;
  line-height: 150%;
  opacity: .5;
  margin-bottom: 4rem;
  text-align: center;
}

.navbar_search_res {
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar_search_res .btn_arrow {
  min-height: unset;
  height: 3.8rem;
  width: 3.8rem;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar_search_res .btns_numb .btn {
  height: 3.8rem;
  min-height: unset;
  padding: 0 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 .5rem;
}

.navbar_search_res .btns_numb .nav-link.active {
  background: #41AE7C;
  color: white;
}
/*# sourceMappingURL=main.css.map */