.header_prodserv_info {
  &.site_content_top {
    padding: 12.5rem 0 3.6rem;
  }
  .flex_block {
    display: flex;
    justify-content: space-between;
    align-items: end;
    .el_tag.service span{
      background: none;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    &.flex_block2{
      align-items: center;
      h3{
        margin-bottom: 0;
      }
    }
  }
  .el_tag {
    margin-bottom: 2rem;
  }
  .backspace_button {
    display: flex;
    margin-bottom: 1.2rem;
  }
}
.block_prodserv_card.row_info .div_el {
  justify-content: normal;
  .div_info_name {
    max-width: 16.5rem;
    margin-right: 2.5rem;
  }
}
.block_prodserv_card {
  .dt_left {
    padding-right: 3rem;
  }
  .div_img_big {
    max-height: 30rem;
    width: 100%;
    height: 100%;
    background-size: contain !important;
    background-position: 50% 50% !important;
  }
  .slick-initialized .slick-slide {
    display: flex;
  }
  .div_img_little {
    max-width: 6.4rem;
    background-size: contain !important;
    background-position: 50% 50% !important;
    height: 6.4rem;
  }
  h2 {
    width: 100%;
  }
  .div_nums {
    margin-bottom: 3rem;
    .div_txt {
      opacity: 0.5;
      font-size: 1.2rem;
      margin-bottom: 0.9rem;
    }
    .div_num {
      font-size: 2.4rem;
      line-height: 120%;
    }
  }
}