.header_prodserv_info.site_content_top {
  padding: 12.5rem 0 3.6rem;
}

.header_prodserv_info .flex_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.header_prodserv_info .flex_block .el_tag.service span {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header_prodserv_info .flex_block.flex_block2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_prodserv_info .flex_block.flex_block2 h3 {
  margin-bottom: 0;
}

.header_prodserv_info .el_tag {
  margin-bottom: 2rem;
}

.header_prodserv_info .backspace_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.2rem;
}

.block_prodserv_card.row_info .div_el {
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
}

.block_prodserv_card.row_info .div_el .div_info_name {
  max-width: 16.5rem;
  margin-right: 2.5rem;
}

.block_prodserv_card .dt_left {
  padding-right: 3rem;
}

.block_prodserv_card .div_img_big {
  max-height: 30rem;
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-position: 50% 50% !important;
}

.block_prodserv_card .slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block_prodserv_card .div_img_little {
  max-width: 6.4rem;
  background-size: contain !important;
  background-position: 50% 50% !important;
  height: 6.4rem;
}

.block_prodserv_card h2 {
  width: 100%;
}

.block_prodserv_card .div_nums {
  margin-bottom: 3rem;
}

.block_prodserv_card .div_nums .div_txt {
  opacity: 0.5;
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
}

.block_prodserv_card .div_nums .div_num {
  font-size: 2.4rem;
  line-height: 120%;
}
/*# sourceMappingURL=production_services_info.css.map */